<section>
  <div class="modal-header">
    <h1>Assigner à un livreur la commande <b><em>#{{ orderDelivery.order_id }}</em></b> de <b><em>{{ orderDelivery.restaurant_name | titlecase }}</em></b></h1>
  </div>
  <div class="modal-body">
    <div class="w-100">
      <div class="w-100 text-center">
        <h2 style="margin-bottom: 0 !important;font-size: larger; font-weight: 200">Cout de la livraison (PourBoire et Bonus compris) <b>{{ (+orderDelivery.delivery_cost / 100).toFixed(2) + '€' }}</b></h2>
        <h2 style="margin-bottom: 0 !important;font-size: larger; font-weight: 200">Trajet</h2>

      </div>
      <div class="d-flex w-100" style="justify-content: center">
        <div>
          <span style="padding-right: .3rem"><em><b>{{ orderDelivery.restaurant_city | titlecase }}</b></em></span>
        </div>
        <div>
          <span style="transform: rotate(180deg)" class="material-icons">keyboard_backspace</span>
        </div>
        <div>
          <span style="padding-left: .3rem"><em><b>{{ orderDelivery.customerCity | titlecase }}</b></em></span>
        </div>
      </div>
    </div>
    <div class="w-100 d-flex" style="justify-content: space-between;">
      <div *ngIf="orderDelivery.deliverer_id && +orderDelivery.deliverer_id > 0">
          <div>Livreur actuel</div>
        <div>ID <b><em>{{ orderDelivery.deliverer_id }}</em></b></div>
        <div>Email <b><em>{{ orderDelivery.deliverer_email }}</em></b></div>
      </div>
      <div *ngIf="orderDelivery.deliverer_id && +orderDelivery.deliverer_id > 0" style="align-self: center">
        <span style="font-size: x-large; font-weight: bold; transform: rotate(180deg)" class="material-icons">keyboard_backspace</span>
      </div>
      <div *ngIf="options.length == 0">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="options.length > 0">
        <mat-form-field class="example-full-width"  appearance="outline">
          <input type="text"
                 placeholder="Assigné à"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
          >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.email">
              {{option.email}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="myControl.invalid"
      (click)="onValidate()"
    >Valider</button>
  </div>
</section>
