.footer {
  background: url(/assets/footer/footer_bg.png) no-repeat top left;
  background-size: cover;
  color: white;
  padding: 1rem;
  background: #a712b1;
  padding-top: 3rem;
  padding-bottom: 3rem;
  left: 0;
  right: 0;
}

.font-large {
  font-size: large !important;
}
