<section class="p-3">
    <h1>
        Edition/Ajout d'une promotion
    </h1>
    <hr>
    <p style="font-size: large; font-size: .7rem; color: red; text-align: center">
        <i class="em em-exclamation" aria-role="presentation" aria-label="HEAVY EXCLAMATION MARK SYMBOL"></i>
        ATTENTION A LA MARGE DE CERTAINS COMMERCE
        <i class="em em-exclamation" aria-role="presentation" aria-label="HEAVY EXCLAMATION MARK SYMBOL"></i>
    </p>
    <div>
        <form [formGroup]="promotionForm" >
            <div class="">
                <div class="p-2">
                    <label>Code</label>
                    <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors || errorAlreadyExist.ok }" />
                    <div *ngIf="errorAlreadyExist.ok"  class="invalid-feedback">
                        <div>{{ errorAlreadyExist.message }}</div>
                    </div>
                    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                        <div *ngIf="f.code.errors.required">Code Obligatoire</div>
                        <div *ngIf="f.code.errors.pattern">8 à 15 caractères obligatoires en majuscule, </div>
                    </div>
                </div>
                <div class="p-2">
                    <label>Pourcentage</label>
                    <input type="text" formControlName="percentage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.percentage.errors }" />
                    <div *ngIf="submitted && f.percentage.errors" class="invalid-feedback">
                        <div *ngIf="f.percentage.errors.required">Pourcentage obligatoire</div>
                    </div>
                </div>
                <div class="p-2">
                    <label class="d-block">Appliqué a</label>
                    <mat-radio-group formControlName="applicatedTo">
                        <mat-radio-button class="d-block" value="{{ applicationTo.FAST_IT }}">Fast-it</mat-radio-button>
                        <mat-radio-button class="d-block" value="{{ applicationTo.BUSINESS }}">Commerce</mat-radio-button>
                        <mat-radio-button value="{{ applicationTo.BOTH }}">Fast-it & Commerce</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-checkbox class="" formControlName="enable">Activé</mat-checkbox>
                </div>
            </div>
            <div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" formControlName="dateBegin" placeholder="Date de début">
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button class="" (click)="picker.open()">Calendrier</button>
                    <span *ngIf="promotionForm.value.dateBegin"> Date sélectionnée :  {{ promotionForm.value.dateBegin.date | date : 'dd/MM/yyyy' }}</span>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker1" formControlName="dateEnd" placeholder="Date de fin">
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button (click)="picker1.open()">Calendrier</button>
                    <span *ngIf="promotionForm.value.dateEnd"> Date sélectionnée :  {{ promotionForm.value.dateEnd.date | date : 'dd/MM/yyyy' }}</span>
                </div>
                <div *ngIf="errorDate">
                    <div >Dates incorrectes</div>
                </div>
            </div>
            <div>
                <h2>Utiliser pour un Secteur/Commerçant/Client</h2>
                <hr>
                <div>
                    Choisissez un ou plusieurs secteur(s)
                </div>
                <mat-form-field>
                    <mat-label>Secteurs</mat-label>
                    <mat-select [formControl]="sectors" multiple>
                        <mat-option *ngFor="let sector of sectorList" [value]="sector">{{sector.name | titlecase}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    Choisissez un ou des Commerçant(s)
                </div>
                <p>
                    <mat-form-field appearance="outline" style="" class="example-full-width width-input">
                        <mat-label style="font-size: large; padding-bottom: 0; margin-bottom:  0">Nom du Commerce</mat-label>
                        <input
                                [formControl]="restaurant"
                                autocomplete="off"
                                matInput placeholder="">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>
                </p>
                <button mat-raised-button (click)="onFind('restaurant')">Chercher</button>
                <div *ngIf="restaurantsFound && restaurantsFound.length > 0">
                    <mat-form-field>
                        <mat-label>Commerce(s)</mat-label>
                        <mat-select [formControl]="restaurantsSelected" multiple>
                            <mat-option *ngFor="let resto of restaurantsFound" [value]="resto">{{resto.name | titlecase}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!---- START CHOICE OF CUSTOMER ------------>
                <div>
                    Choisissez un ou des Client(s)
                </div>
                <p>
                    <mat-form-field appearance="outline" style="" class="example-full-width width-input">
                        <mat-label style="font-size: large; padding-bottom: 0; margin-bottom:  0">Client@exem...</mat-label>
                        <input
                                [formControl]="client"
                                autocomplete="off"
                                matInput placeholder="">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>
                </p>
                <button mat-raised-button (click)="onFind('client')">Chercher</button>
                <div *ngIf="clientsFound && clientsFound.length > 0">
                    <mat-form-field>
                        <mat-label>Client(s)</mat-label>
                        <mat-select [formControl]="clientsSelected" multiple>
                            <mat-option *ngFor="let customer of clientsFound" [value]="customer">{{customer.email}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!---- END CHOICE OF CUSTOMER ------------>
            </div>
            <hr>
            <div class="">
                <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="promotionForm.invalid || errorAlreadyExist.ok">Valider</button>
            </div>
        </form>
    </div>
</section>
