<section class="d-block container pt-5">
  <h2 style="font-size: 1.5rem" class="text-center">NOUVEAUX  <span style="color: #d800ff">ARRIVANTS </span></h2>
  <div style="margin-top: 3rem" *ngIf="restaurants" class="row">
    <div
      *ngFor="let restaurant of restaurants"
      (click)="goToRestaurantBy(restaurant.id)"
      class="col-md-4 mb-2 cursor-pointer">
      <div style=" position: relative" class="wrapper-img-left box-shadow-orange">
        <div style="position:absolute; z-index: 2000; top: 8px">
          <!--<span style="padding: .4rem;background: #e5e5e5;font-size: smaller;border-radius: 5px;border: 1px solid #ccc;">
            <span style="font-size: smaller" class="material-icons">schedule</span>
            {{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}
          </span>-->
        </div>
        <div
          class="img-wrapper"
          [ngStyle]="{background: 'url(' + restaurant.pathFile + ')', 'background-size': 'cover', 'background-position': 'center' }"
        >
          <div *ngIf="restaurant.closed == true" class="opaque text-center">
            <h3 style="color: white;margin-top: 4.5rem;font-size: xx-large;font-weight: 200;font-family: 'Oswald';">Fermé</h3>
          </div>
          <!--<img class="zoom" src="{{ restaurant.pathFile }}" alt="{{ restaurant.name | titlecase }}">-->
        </div>
        <div style=" bottom: 0; width: 100%;overflow: hidden;" class="desc-bottom reduce-padding">
          <h4 style="font-size: 1.2rem;text-transform: capitalize; font-weight: 600; font-family: 'Roboto Condensed', sans-serif;">{{ restaurant.name | titlecase }}
          <span style="float: right;font-size: small;font-weight: 100;font-family: 'Roboto', sans-serif;">{{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}</span>
          </h4>
          <div class="divider"></div>
          <div class="">
            <div>
              <p style="font-size: small; font-weight: 200; font-style: italic">{{ restaurant.zipcode }}, {{ restaurant.city | titlecase }}</p>
            </div>
          </div>
          <!--<div style="position:relative;">
            <ul style=" padding-left: .1rem;font-family: sans-serif;">
              <li>
                <a href="">
                  <div style="margin-bottom: 1rem; text-align: center">
                  <span style="color: #d800ff; padding-right: .5rem; vertical-align: middle; font-size: 1rem" class="material-icons">
                    schedule
                  </span>
                    <span style="font-size: .7rem">
                      Mar et Jeu
                  </span>
                    <span class="text-right" style="font-size: .7rem">11h00 à 14h00</span>
                    <div class="text-center">
                      <span style="font-size: .7rem">Lun</span>
                      <span class="text-right" style="font-size: .7rem"> fermé</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                </a>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
    </div>
    <!--<div class="col-md-6">
      <div class="row">
        <div style="height: 345px" class="col-md-6 col-12">
          <div class="wrapper-img-left box-shadow-orange">
            <img class="zoom" src="assets/burger_home.jpg" alt="">
            <div style="position: absolute; bottom: 0; width: 100%;overflow: hidden;border-radius: 8px;box-shadow: -3px 13px 23px rgba(253, 134, 134, 0.3);" class="desc-bottom reduce-padding">
              <h4 style="font-size: 25px;font-style: italic;font-weight: bold;font-family: 'Raleway', sans-serif;">TACOS</h4>
              <ul style="padding-left: .1rem;font-size: larger;font-family: sans-serif;">
                <li>
                  <a href="">
                    <div style="margin-bottom: 1rem; text-align: center">
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    calendar_today
                  </span>
                      <span style="font-size: 18px">
                      Lundi - Dimanche
                  </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div>
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    watch
                  </span>
                      <span style="font-size: 18px">
                      9h00 - 21h00
                  </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="height: 345px" class="col-md-6 col-12">
          <div class="wrapper-img-left box-shadow-orange">
            <img class="zoom" src="assets/burger_home.jpg" alt="">
            <div style="position: absolute; bottom: 0; width: 100%;overflow: hidden;border-radius: 8px;box-shadow: -3px 13px 23px rgba(253, 134, 134, 0.3);" class="desc-bottom reduce-padding">
              <h4 style="font-size: 25px;font-style: italic;font-weight: bold;font-family: 'Raleway', sans-serif;">KEBAB</h4>
              <ul style="padding-left: .1rem;font-size: larger;font-family: sans-serif;">
                <li>
                  <a href="">
                    <div style="margin-bottom: 1rem; text-align: center">
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    calendar_today
                  </span>
                      <span style="font-size: 18px">
                      Lundi - Dimanche
                  </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div>
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    watch
                  </span>
                      <span style="font-size: 18px">
                      9h00 - 21h00
                  </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px; height: 345px" class="col-md-6 col-12">
          <div  class="wrapper-img-left box-shadow-orange">
            <img class="zoom" src="assets/burger_home.jpg" alt="">
            <div style="position: absolute; bottom: 0; width: 100%;overflow: hidden;border-radius: 8px;box-shadow: -3px 13px 23px rgba(253, 134, 134, 0.3);" class="desc-bottom reduce-padding">
              <h4 style="font-size: 25px;font-style: italic;font-weight: bold;font-family: 'Raleway', sans-serif;">KEBAB</h4>
              <ul style="padding-left: .1rem;font-size: larger;font-family: sans-serif;">
                <li>
                  <a href="">
                    <div style="margin-bottom: 1rem; text-align: center">
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    calendar_today
                  </span>
                      <span style="font-size: 18px">
                      Lundi - Dimanche
                  </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div>
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    watch
                  </span>
                      <span style="font-size: 18px">
                      9h00 - 21h00
                  </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px; height: 345px" class="col-md-6 col-12">
          <div  class="wrapper-img-left box-shadow-orange">
            <img class="zoom" src="assets/burger_home.jpg" alt="">
            <div style="position: absolute; bottom: 0; width: 100%;overflow: hidden;border-radius: 8px;box-shadow: -3px 13px 23px rgba(253, 134, 134, 0.3);" class="desc-bottom reduce-padding">
              <h4 style="font-size: 25px;font-style: italic;font-weight: bold;font-family: 'Raleway', sans-serif;">KEBAB</h4>
              <ul style="padding-left: .1rem;font-size: larger;font-family: sans-serif;">
                <li>
                  <a href="">
                    <div style="margin-bottom: 1rem; text-align: center">
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    calendar_today
                  </span>
                      <span style="font-size: 18px">
                      Lundi - Dimanche
                  </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div>
                  <span style="color: #ff6908; padding-right: 1rem; vertical-align: bottom;" class="material-icons">
                    watch
                  </span>
                      <span style="font-size: 18px">
                      9h00 - 21h00
                  </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</section>


