<!-- <section class="wrapper-container">
  <div class="container-restaurant-dashboard">
    <div class="sidebar-left">
      <div style="width: 100%; display: flex; flex-direction: column;justify-content: center" class="nav">
        <div class="wrapper-link-sidebar">
          <a routerLink="overview">
            <div>
              Vue globale
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="commerce">
            <div>
              Commerce
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="orders">
            <div>
              Commandes
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="products">
            <div>
              Produits
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a disabled="" class="not-allowed" routerLink="contact">
            <div>
              Contact
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a disabled="" routerLink="export">
            <div>
              Export
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="content-restaurant-dashboard">
      <header>
        <div style="width: 100%" class="top-bar-dashboard">
          <div class="container-fluid">
            <div class="row">
              <div *ngIf="restaurant" class="col-md-12" style="display: flex;width: 100%">
                <div *ngIf="restaurant.medias" style="">
                  <div *ngFor="let logo of restaurant.medias">
                    <img  *ngIf="logo.type_media == 'logo'"
                          class="wrapper-img"
                          src="{{ logo.path_file }}"
                          alt="logo_business"
                          width="100px"
                          height="auto">
                  </div>
                </div>
                <div class="w-100" >
                  <h4 style="margin-bottom: 0.2rem!important;font-size: xx-large;font-family: Oswald, sans-serif;padding-left: .5rem;">{{ restaurant.name |  uppercase }}</h4>
                  <div style="align-self: flex-end">
                    <div style="padding-left: .5rem;font-size: small; font-style: italic; color: grey" class="pull-right">
                      {{ restaurant.street }}
                      {{restaurant.city}}, {{ restaurant.zipcode }}
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
              </div>
            </div>
          </div>
        </div>
      </header>
      <section style="margin-top: 1rem" class="container-fluid">
      -->
        <!-- 5 last orders -->
        <!-- <div class="row">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
      <app-footer></app-footer>
    </div>
  </div>
</section> -->

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidebarLeft [mode]="modeSide" opened role="navigation">
    <mat-nav-list>
      <div class="sidebar-left">
        <div style="width: 100%; display: flex; flex-direction: column;justify-content: center" class="nav">
          <div class="wrapper-link-sidebar">
            <a routerLink="overview">
              <div>
                Vue globale
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a routerLink="commerce">
              <div>
                Commerce
              </div>
            </a>
          </div>
          <!--<div class="wrapper-link-sidebar">
            <a routerLink="orders-current">
              <div>
                Commande (en cours)
              </div>
            </a>
          </div>-->
          <div class="wrapper-link-sidebar">
            <a routerLink="orders">
              <div>
                Commandes
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a routerLink="products">
              <div>
                Produits
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a disabled="" routerLink="contact">
              <div>
                Contact
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a disabled="" routerLink="stats">
              <div>
                Statistiques
              </div>
            </a>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="main-content-customer">
        <header>
          <div style="width: 100%" class="top-bar-dashboard">
            <div class="container-fluid">
              <div class="row">
                <div *ngIf="restaurant" class="col-md-12" style="display: flex;width: 100%">
                  <div *ngIf="restaurant.medias" style="">
                    <div *ngFor="let logo of restaurant.medias">
                      <img  *ngIf="logo.type_media == 'logo'"
                            class="wrapper-img"
                            src="{{ logo.path_file }}"
                            alt="logo_business"
                            width="100px"
                            height="auto">
                    </div>
                  </div>
                  <div class="w-100" >
                    <h4 style="margin-bottom: 0.2rem!important;font-size: xx-large;font-family: Oswald, sans-serif;padding-left: .5rem;">{{ restaurant.name |  uppercase }}</h4>
                    <div style="align-self: flex-end">
                      <div style="padding-left: .5rem;font-size: small; font-style: italic; color: grey" class="pull-right">
                        {{ restaurant.street }}
                        {{restaurant.city}}, {{ restaurant.zipcode }}
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                </div>
              </div>
            </div>
          </div>
        </header>
        <section style="margin-top: 1rem" class="container-fluid">
          <!-- 5 last orders -->
          <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </section>
        <app-footer></app-footer>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
