<h2>
    Detail commande
</h2>

<section class="container-fluid">

    <div class="row">
        <div class="col-md-8 card">
            <div class="col-md-6">Detail Business</div>
            <div class="col-md-6">Detail Customer</div> 
        </div>
    </div>
    <div class="row">
       <div *ngIf="delivererForm" style="padding-top: 2rem" class="col-md-8 card">
        <form [formGroup]="delivererForm" (ngSubmit)="validateDelivery()">
          <h2>Validation livraison</h2>
          <p>
              <mat-form-field style="width: 40%;" appearance="outline">
                <mat-label>Code Livraison</mat-label>
                <input matInput type="text" formControlName="code" required="true" disabled="{{order.deliverCode == null}}" placeholder="Placeholder">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
          </p>
          <div *ngIf="!isValid" class="alert alert-danger">Code invalide</div>
          <div class="mb-3">
            <button class="float-right mb-3" mat-raised-button color="basic" (click)="validateWithoutCode()">Sans code</button>
            <button *ngIf="hasDeliveryCode" class="float-right mb-3" mat-raised-button type="submit" color="primary">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  
