<app-location></app-location>
<section *ngIf="categorySelected" class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2 style="font-size: xx-large;margin-bottom: 0 !important;line-height: inherit;">  "{{ categorySelected.name | titlecase }}"</h2>
      <span *ngIf="restaurants" style="font-size: smaller">{{ restaurants.length }} Restaurant(s)</span>
    </div>
  </div>
  <div style="" *ngIf="restaurants" class="row">
    <div
      *ngFor="let restaurant of restaurants"
      (click)="goToRestaurantBy(restaurant.id)"
      class="col-md-3 mb-2 cursor-pointer">
      <div style=" position: relative" class="wrapper-img-left box-shadow-orange">
        <div style="position: absolute;top: 8px;color: white;left: 0;font-size: smaller;padding: 2px;background: #c968e1;z-index: 50;border-radius: 0 16px 16px 0;">
          {{ restaurant.titleOffer | titlecase }}
          <span class="pl-1"></span>
        </div>
        <div *ngIf="restaurant.isNew" style="position: absolute;/* top: 8px; */bottom: 4px;color: white;right: 3px;font-size: smaller;padding: 2px;background: #26dc4d;z-index: 50;border-radius: 15px 15px 15px  15px;">
          <span class="pl-1"></span>
          NOUVEAU
          <span class="pl-1"></span>
        </div>
        <div
          class="img-wrapper"
          [ngStyle]="{background: 'url(' + restaurant.backgroundImg + ')', 'background-size': 'cover', 'background-position': 'center' }"
        >
          <div *ngIf="restaurant.closed == true" class="opaque text-center">
            <h3 style="color: white;margin-top: 3.2rem;font-size: large;font-weight: 200;font-family: 'Oswald';">Momentanément indisponible en livraison</h3>
          </div>
        </div>
        <div style=" bottom: 0; width: 100%;overflow: hidden;" class="desc-bottom reduce-padding">
          <h4 style="margin-bottom: 0 !important; font-size: .9rem;text-transform: capitalize; font-weight: 600; font-family: 'Roboto Condensed', sans-serif;">
            {{ restaurant.name | titlecase }}
            <span style="float: right;font-size: .75rem;font-weight: 100;font-family: 'Roboto', sans-serif;">{{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}</span>
          </h4>
          <div style="display: flex; width: 100%; justify-content: space-between">
            <div>
              <!--<span style="font-size: smaller; font-weight: 200; font-style: italic">{{ restaurant.zipcode }}, {{ restaurant.city | titlecase }}</span>-->
              <span style="font-size: smaller; font-weight: 200; font-style: italic">{{ restaurant.city | titlecase }}</span>
            </div>
            <div *ngIf="restaurant.description && restaurant.description != null && !restaurant.isNew">
              <span style="font-weight: 200; font-size: smaller">{{ restaurant.description | titlecase }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="!restaurants" class="container-fluid">
  <div *ngFor="let shimmer of shimmers; let index = index" class="d-block d-md-none d-lg-none d-xl-none row pb-3">
    <div *ngIf="index < 4" class="col-md-12">
      <shimmer style="height: 128px !important;" [width]="'100%'" [type]="'line'"  [height]="'128px'"></shimmer>
      <div class="pt-1"></div>
      <div class="d-flex" style="justify-content: space-between">
        <shimmer [type]="'line'"  [width]="'140px'"></shimmer>
        <shimmer [type]="'line'"  [width]="'70px'"></shimmer>
      </div>
      <div class="d-flex" style="justify-content: space-between">
        <shimmer [type]="'line'"  [width]="'80px'"></shimmer>
        <shimmer [type]="'line'"  [width]="'60px'"></shimmer>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div *ngFor="let shimmer of shimmers" class="col-md-3 d-none d-md-block d-lg-block d-xl-block pb-3">
      <shimmer style="height: 128px !important;" [width]="'100%'" [type]="'line'"  [height]="'128px'"></shimmer>
      <div class="pt-1"></div>
      <div class="d-flex" style="justify-content: space-between">
        <shimmer [type]="'line'"  [width]="'140px'"></shimmer>
        <shimmer [type]="'line'"  [width]="'70px'"></shimmer>
      </div>
      <div class="d-flex" style="justify-content: space-between">
        <shimmer [type]="'line'"  [width]="'80px'"></shimmer>
        <shimmer [type]="'line'"  [width]="'60px'"></shimmer>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
