<section class="card">
  <h1>Gestionnaire de commande</h1>
  <hr>
  <div class="card-body">
    <span>Rechercher par date </span>
    <div class="w-100 pb-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Recherche</mat-label>
        <input style="width: 100%" autocomplete="off" formControlName="name" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
</section>
