<section class="container-fluid wrapper-restaurants">
    <div class="row justify-content-md-center">
        <!--<div class="col-md-2">
            <hr>
            <h6 style="font-weight: bold">En livraison ou à emporter</h6>
            <div class="mt-4 form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="delivery" checked>
                <label class="form-check-label" for="exampleRadios1">
                    LIVRAISON
                </label>
            </div>
            <div class="mb-4 form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="carry-out" >
                <label class="form-check-label" for="exampleRadios2">
                    EMPORTER
                </label>
            </div>
            <hr>
            <div>
                <h6 style="font-weight: bold">Trier</h6>
                <div class="mt-4 mb-2 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="distance" value="delivery" checked>
                    <label class="form-check-label" for="distance">
                        Distance
                    </label>
                </div>
                <div class="mb-2 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="heure" value="carry-out" >
                    <label class="form-check-label" for="heure">
                        Heure
                    </label>
                </div>
                <div class="mb-2 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="recommandations" value="carry-out" >
                    <label class="form-check-label" for="recommandations">
                        Recommandations
                    </label>
                </div>
            </div>
            <hr>
            <div>
                <h6 style="font-weight: bold">
                    Vos Favoris
                </h6>
                <div class="mt-4 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Halal
                    </label>
                </div>
                <div class="mt-4 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Halal
                    </label>
                </div>
                <div class="mt-4 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Halal
                    </label>
                </div>
                <div class="mt-4 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Halal
                    </label>
                </div>
                <div class="mt-4 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Halal
                    </label>
                </div>
                <div class="mt-4 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Halal
                    </label>
                </div>
            </div>
        </div>-->
        <div *ngIf="citySelected" class="col col-md-10 ">
            <div *ngIf="restaurants && restaurants.length > 0" class="wrapper-restaurants-city">
              <h4 class="mb-4 mt-4 text-center"><b>{{ restaurants.length }}</b> Restaurant(s) en livraison à <b>{{ citySelected.city }}</b></h4>
              <div class="container-fluid wrapper-area-restaurants">
                <div class="row">
                  <div *ngFor="let restaurant of restaurants" style="" class="col-md-6">
                    <a routerLink="{{ '/restaurant/'+ restaurant.id }}">
                      <div style="" class="area-restaurants">
                        <div class="mini-card-restaurant">
                          <div style="" class="img-left">
                            <div *ngFor="let media of restaurant.medias">
                              <img *ngIf="media.type_media == 'background_img'" style="" class="img-left-width" src="{{ media.path_file }}" alt="{{ media.name }}">
                            </div>
                          </div>
                          <div class="pl-2" style="position: relative; flex: 1">
                            <div class="delivery-time">
                              <i style="font-size: small; " class="material-icons ">alarm</i>
                              <span *ngIf="restaurant.estimated_preparation_time != null" class="pt-2">{{ (restaurant.estimated_preparation_time).replace(',', ' - ') }} min</span>
                            </div>
                            <span style="color: #0a0a0a; font-size: large"><b>{{ restaurant.name }}</b></span>
                            <p style="margin-bottom: 0 !important;"><!--<i  class="material-icons dimension-star">star</i>4.8-->
                              {{ restaurant.description }}
                            </p>
                            <p *ngIf="restaurant.tags.length > 0">
                              <span *ngFor="let tag of restaurant.tags">
                                {{ tag.name }}
                              </span>
                            </p>
                            <!--<span class="info-minimum-accepted">Minimum 20€</span>-->
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
