<section class="container-fluid">
  <div class="row">
    <div *ngIf="customerForm" style="padding-top: 2rem" class="col-md-8 card">
      <!--<div class="mb-3">
        <div>
          <label for="photo">Photo</label>
        </div>
        <input type="file" id="photo" (change)="onUploadFile($event)">
      </div>-->
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Placeholder">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput type="text" formControlName="phone" placeholder="Placeholder">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </p>
        <h2>Adresse de livraison (par défaut)</h2>
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Rue</mat-label>
            <input matInput type="text" formControlName="street" placeholder="Placeholder">
            <mat-icon matSuffix>room</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Ville</mat-label>
            <input matInput type="text" formControlName="city" placeholder="Placeholder">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Code postal</mat-label>
            <input matInput type="text" formControlName="zipcode" placeholder="Placeholder">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
        <div class="mb-3">
          <button class="float-right mb-3" mat-raised-button type="submit" color="primary">Enregistrer</button>
        </div>
      </form>
      <div>
        <h2>Modification du mot de passe</h2>
        <div>
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput type="password" [(ngModel)]="pass" placeholder="Placeholder">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Confirmation mot de passe</mat-label>
            <input matInput type="password" [(ngModel)]="confirmPass" placeholder="Placeholder">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div class="alert alert-info mt-3 mb-1">8 caractères minimum</div>
      </div>
      <div class="mb-3">
        <button class="float-right mb-3"
                mat-raised-button
                type="button"
                (click)="onChangePassword()"
                [class.not-allowed]="!pass"
                color="primary">Modifier</button>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-avatar">
          <img src="assets/home_images/user.png" alt="">
        </div>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</section>
