<section class="wrapper-container">
    <div class="container-dashboard">
      <div class="sidebar-left">
        <div id="dashboard" class="nav">
          <a routerLink="/delivery/awaiting-delivery">
            <div class="wrapper-link-sidebar">
              <div>
                Commandes en cours
              </div>
            </div>
          </a>
          <a routerLink="/delivery/my-delivery">
            <div class="wrapper-link-sidebar">
              <div>
                Mes courses
              </div>
            </div>
          </a>
          <a routerLink="/delivery/parameter">
            <div class="wrapper-link-sidebar">
              <div>
                Paramètres du profil
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="content-dashboard">
        <section style="margin-top: 1rem" class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  