<nav style="
    border-bottom: 1px solid #eec3f9;" class="navbar navbar-expand navbar-light bg-light ">
  <div class="container">
    <!--<span style="
    cursor: pointer;
    padding-right: .5rem;
    margin-left: -.5rem;
    color: #c823f1;
    font-size: 1.5rem;" class="material-icons" (click)="back()">arrow_back</span>-->
    <span *ngIf="showBackButton" style="font-size: inherit; padding-right: .4rem" appBackButton class="material-icons">
      arrow_back_ios
    </span>
    <button *ngIf="isMedia || showMenu" mat-icon-button color="white" (click)="onToggleSideNav()">
      <mat-icon style="color: #c823f1">menu</mat-icon>
    </button>
    <a class="navbar-brand" routerLink="/home" style="font-style: italic; font-size: large;font-weight: bold; color: #c145e1"> <!--<img src="logo_png.png"/>--> Fast-it</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li >
          <button style="text-align: center;" mat-button [matMenuTriggerFor]="menu">
            <div style="color: #c145e1;font-size: 1.4rem;cursor: pointer;padding-top: .5rem;" class="material-icons">home</div>
          </button>
          <mat-menu #menu="matMenu">
            <h2
              style="padding: .5rem;background: #bb22e2;color: white;"
              class="text-center"
              *ngIf="user && user.data && user.data.subscription">
              <span style="font-size: small !important;font-weight: lighter;display: block;text-align: center;">Abonné</span> {{ user.data.subscription.title | uppercase }}
            </h2>
            <button mat-menu-item>
              <a style="text-decoration: none; color: #0a0a0a" routerLink="/home">Accueil</a>
            </button>
            <!--<button mat-menu-item>
              <a style="text-decoration: none; color: #0a0a0a" routerLink="/subscription">Abonnement</a>
            </button>-->
            <button *ngIf="user.token"  mat-menu-item>
              <a style="text-decoration: none; color: #0a0a0a" routerLink="customer/overview">Profil</a>
            </button>
            <button *ngIf="isDeliverer"  mat-menu-item>
              <a style="text-decoration: none; color: #0a0a0a" routerLink="delivery/overview">Livreur</a>
            </button>
            <button *ngIf="isAdmin" mat-menu-item>
              <a (click)="goTo()">Restaurant</a>
            </button>
            <button *ngIf="isArtist || isSuper" mat-menu-item>
              <a style="text-decoration: none; color: #0a0a0a" routerLink="admin/stats/subscription">Stats Abo.</a>
            </button>
            <button *ngIf="isSuper" mat-menu-item>
              <a style="text-decoration: none; color: #0a0a0a" routerLink="admin/commerce">Dashboard</a>
            </button>
            <button class="m-2" *ngIf="user.token" mat-raised-button color="primary" (click)="onLogout()">
              <span class="material-icons"></span>Se déconnecter
            </button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <a *ngIf="!user.token" class="nav-link" routerLink="/login" style="color: white"><div style="color: #c146e1;font-size: x-large;padding-right: .4rem; cursor: pointer; padding-top: 0.1rem" class="material-icons">account_circle</div></a>
        </li>
        <li class="nav-item">
          <a style="display: flex;background:  #c145e1; flex-direction: row; border: 1px solid  #c145e1;"  *ngIf="cart.total > 0" [ngClass]="{'not-allowed': cart.total == 0}" class="nav-link btn btn-sm" routerLink="/cart-detail">
            <div style="color: #fff; font-size: large;padding-right: .4rem;" class="material-icons">shopping_basket</div><div *ngIf="cart.total > 0" style="color: #fff;font-weight: 600;">{{ cart.products.length }}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<div class="container-fluid">
  <div class="row">
    <div style="" class="col-md-12">
      <div style="background-color: red;margin-bottom: 0 !important;color: white;font-size: small;" class="alert alert-danger text-center" role="alert">
        Département en vigilance orange! Nous sommes contraints de suspendre nos livraisons en montagne temporairement!
      </div>
    </div>
  </div>
</div>
<div *ngIf="alertMessage" class="container-fluid">
  <div class="row">
    <div style="margin-left: 0;padding-left: 0; padding-right: 0;" class="col-md-12">
      <div style="margin-bottom: 0 !important; font-size: x-small" class="alert alert-warning text-center" role="alert">
        {{ alertMessage | uppercase }}
      </div>
    </div>
  </div>
  <div *ngIf="alertMessage" class="container-fluid">
  <div class="row">
    <div style="margin-left: 0;padding-left: 0; padding-right: 0;" class="col-md-12">
      <div style="margin-bottom: 0 !important; font-size: x-small" class="alert alert-warning text-center" role="alert">
       Les livraisons sont momentanément indisponibles !
      </div>
    </div>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div style="padding-left: 0; padding-right: 0" class="col-md-12">
      <div style="margin-bottom: 0 !important; font-size: x-small" class="alert alert-success text-center" role="alert">
        La 7000<sup>éme</sup> commande offerte! Livraison comprise! (Indice: la commande 6966 est passée) <i class="em em-blush" aria-role="presentation" aria-label="SMILING FACE WITH SMILING EYES"></i>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div style="padding-left: 0; padding-right: 0" class="col-md-12">
      <div style="margin-bottom: 0 !important; cursor:pointer; color: white; font-size: smaller; background-color: #15c74c; border-radius: 0; border-color: transparent;" class="alert alert-success text-center" role="alert">
        <a>Offre vacances! -15% sur votre commande avec le code VACANCES15</a>
      </div>
    </div>
  </div>
</div>-->

