<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
   <a class="navbar-brand" routerLink="/home" style="font-style: italic; font-weight: bold; color: white">FAST EAT</a>
   <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item">
       <a style="display: flex; flex-direction: row" *ngIf="cart.total > 0" class="nav-link btn btn-sm" routerLink="/cart-detail">
         <div style="color: white;font-size: large;padding-right: .4rem;" class="material-icons">shopping_basket</div><div style="color: white">{{ cart.total.toFixed(2) }} €</div>
       </a>
     </li>
      <li class="nav-item">
        <a *ngIf="user.token" class="nav-link" routerLink="/logout" style="color: white">Se déconnecter</a>
        <a *ngIf="!user.token" class="nav-link" routerLink="/login" style="color: white">Se connecter</a>
      </li>
    </ul>
   </div>
  </div>
 </nav>
