.order-h4 {
  margin-left: 2.5rem; margin-bottom: 0; font-size: larger; font-weight: 100;
}

.supplement-name {
  color: #b322b3;
  font-size: large;
}

.div-supplement-name {
  font-size: large;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
}

.div-supplement {
  font-size: small;
  font-weight: 200;
  display: block;
  justify-content: flex-start;
}
