<div class="">
  <div class="modal-header">
    <h2 class="modal-title">Commande passé par le client</h2>
    <button type="button" class="close" (click)="modalActive.close()" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-2">
      <h3>Informations complémentaires, allergies...</h3>
      <p>Je suis allergique aux fruits de mer c'est pourquoi je commande des sushi </p>
    </div>
    <hr>
    <div class="row">
      <div *ngFor="let order of orders">
        <div style="display: flex; justify-content: space-between; border-right: 2px solid violet" class="col-md-12">
          <div>
            <span style="font-size: larger; font-weight: 400">{{ order.quantity }}x </span>
            <span style="font-size: larger; font-weight: 400; text-transform: uppercase">{{ order.product }}</span>
            <div *ngFor="let supplement of supplementProducts" style="font-size: small;font-weight: 200;padding-left: 1.2rem;display: flex; justify-content: space-between">
              {{supplement}}
            </div>
          </div>
          <div style="font-size: larger; font-weight: 400">{{order.amount/100}}€</div>
        </div>
        <div style="display: flex; justify-content: space-between" class="col-md-12">
          <div><span>{{ order.quantity }}x </span>{{ order.product }}</div>
          <div>{{order.amount/100}}€</div>
          <!-- <div>2.00€</div> -->
        </div>
      </div>
    </div>
  </div>
  <div>
    Temps de préparation
  </div>
  <div style="display: flex; justify-content: space-between" class="modal-footer">
    <div>
      <button mat-raised-button (click)="onValidate('20')" color="primary">20 - 40 !</button>
    </div>
    <div>
      <button mat-raised-button (click)="onValidate('40')" color="primary">40 - 60</button>
    </div>
    <div>
      <button mat-raised-button (click)="onRefuseOrder(message)" color="warn">REFUS</button>
    </div>
  </div>
</div>
