<div class="">
  <div class="modal-header">
    <h2 class="modal-title">Commande <b>#{{ order.id }}</b></h2>
    <div>
      <button mat-raised-button class="pl-3" (click)="onPrint()" color="primary">Imprimer</button>
      <button type="button" class="close" (click)="modalActive.close()" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
        <div style="display: flex; justify-content: space-between; border-right: 2px solid violet" *ngFor="let product of products" class="col-xs-12 col-md-12">
          <div style="margin-bottom: .8rem;" class="col-xs-12 col-md-10">
            <span style="font-size: larger; font-weight: 400" class="pr-2"> x<b>{{ product.quantity }}</b> </span>
            <span style="font-size: larger; font-weight: 400; text-transform: uppercase">{{ product.name }}</span>
            <div *ngIf="product.supplementProducts && product.supplementProducts.length > 0" class="div-supplement">
              <h4 class="order-h4"><span style="font-size: xx-small;padding-right: .2rem;" class="material-icons">radio_button_unchecked</span>Supplément(s)</h4>
              <div *ngFor="let supplement of product.supplementProducts" style="padding-left: 3rem" class="supplement-name">
                <span style="font-size: small; padding-right: .3rem" class="material-icons">subdirectory_arrow_right</span> <b class="supplement-name">{{ supplement.name | titlecase }}</b>
                <b class="supplement-name">{{ supplement.amount != null && supplement.amount != 0 ? (supplement.amount / 100).toFixed(2) + '€' : ''}}</b>
              </div>
            </div>
            <div *ngIf="product.listSupplements && product.listSupplements.length > 0">
              <div *ngFor="let listS of product.listSupplements" class="div-supplement">
                <h4 class="order-h4"><span style="font-size: xx-small;padding-right: .2rem;" class="material-icons">radio_button_unchecked</span>{{ listS.title | titlecase }}</h4>
                <div *ngIf="listS.supplementProducts && listS.supplementProducts.length > 0">
                  <div *ngFor="let supplement of listS.supplementProducts" class="div-supplement-name">
                    <span style="font-size: small; padding-right: .3rem" class="material-icons">subdirectory_arrow_right</span> <b class="supplement-name">{{ supplement.name | titlecase }}</b>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="product.commentCustomer != null" style="font-size: small;font-weight: 400;display: flex; justify-content: flex-start">
              <p>Commentaire Client :<br><b>{{ product.commentCustomer }}</b></p>
            </div>
          </div>
          <div class="col-xs-0 col-md-0" style="font-size: larger; font-weight: 400">{{ (product.amount * product.quantity) /100 | number : '1.2-2'}}€</div>
        </div>
    </div>
    <div *ngIf="order.comment" class="row">
      <div class="col-md-12">
        <h3>Commentaire global client</h3>
        <p style="color: red">{{ order.comment }}</p>
      </div>
    </div>
    <hr>
    <div style="display: block; padding-left: 1rem" *ngIf="order.customer" class="row">
      <h4>Information Client</h4>
      <!--<div>
        Nom: <span><b>{{ order.customer.addresses[0].name }}</b></span>
      </div>-->
      <div>
        Téléphone: <a style="text-decoration: none" href="tel:{{ order.customer.phone }}"><b>{{ order.customer.phone }}</b></a>
      </div>
      <div>
        Adresse:
        <span>
          <b>{{ order.customer.addresses[0].street | titlecase }}, {{ order.customer.addresses[0].zipCode }}, {{ order.customer.addresses[0].city | titlecase }}</b>
        </span>
      </div>
    </div>
    <hr>
    <div class="mt-2 mb-2" style="display: flex; width: 100%; justify-content: flex-end;
      font-size: larger; font-weight: 600;">
     <!-- Total: {{ (+(order.amount) - +(orderConst.order.SERVICE_CHARGE) - +(order.delivery_cost))/100 | number : '1.2-2'}}€-->
    </div>
  </div>

  <div *ngIf="isRejectionMessage">
    <div>
      <p>
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Motif du refus de la commande</mat-label>
          <textarea style="width: 100%; height: 200px" autocomplete="off" [(ngModel)]="message" matInput placeholder="Rupture de stock"></textarea>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div *ngIf="!isRejectionMessage && order.status == 1" style="display: flex; justify-content: left; padding: 0 0 0.75rem 0.75rem ">
    Temps de préparation
  </div>
  <div *ngIf="order.status >= 2" class="modal-footer">
    <h5 class="text-left">Cette commande a été traitée.
      <b *ngIf="order.preparationTime">Temps de prépa. choisi <em>{{ order.preparationTime }}</em></b></h5>
    <button style="margin: 1rem" (click)="modalActive.close('ok')" mat-raised-button color="primary">
      OK
    </button>
  </div>
  <div *ngIf="order.status == 1" style="display: flex; justify-content: space-between" class="modal-footer">
    <div *ngIf="!isRejectionMessage">
      <button mat-raised-button (click)="onValidate(firstChoice)" color="primary">{{firstChoice}}</button>
    </div>
    <div *ngIf="!isRejectionMessage">
      <button mat-raised-button (click)="onValidate(secondChoice)" color="primary">{{secondChoice}}</button>
    </div>
    <div *ngIf="!isRejectionMessage">
      <button mat-raised-button (click)="onValidate(choiceFour)" color="primary">45 - 1h</button>
    </div>
    <div *ngIf="!isRejectionMessage">
      <button mat-raised-button (click)="onValidate(choiceFive)" color="primary">1h - 1h15</button>
    </div>
    <div *ngIf="!isRejectionMessage">
      <button mat-raised-button (click)="onValidate(choiceSix)" color="primary">1h15 - 1h30</button>
    </div>
    <button *ngIf="isRejectionMessage" mat-raised-button (click)="onValidateRejectionMessage()" color="warn">Envoyer refus</button>
    <div>
      <mat-slide-toggle (change)="onRejectOrder($event)">Refuser</mat-slide-toggle>
    </div>
  </div>
</div>
