<h1 mat-dialog-title>Edition </h1>
<div style="width: 100%" mat-dialog-content>
  <div class="mt-3">
    <mat-slide-toggle (change)="onChange($event)" [(ngModel)]="product.isAvailable">Produit disponible</mat-slide-toggle>
  </div>
  <div class="mb-3" *ngIf="categories">
    <label for="categories">Sélectionner une catégorie</label>
    <select class="form-control" name="cats" id="categories" [(ngModel)]="product.category" >
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <div style="width: 150px; height: auto" >
    <!--<img width="100%" src="" alt="sushi">-->
  </div>
  <p><b>{{product.name}}</b></p>
  <div class="mt-2 mb-2">
    <label for="logo">Photo</label><br>
    <input type="file" id="logo" name="logo" (change)="onFileChange($event)" />
  </div>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nom du produit</mat-label>
      <input style="width: 100%" autocomplete="off" [(ngModel)]="product.name" matInput placeholder="Placeholder">
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Prix</mat-label>
      <input style="width: 100%" type="text" autocomplete="off" (keypress)="onChangeAmount()" [(ngModel)]="product.amount" matInput placeholder="Placeholder">
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input style="width: 100%" autocomplete="off" [(ngModel)]="product.description" matInput placeholder="Placeholder">
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Quantité restante</mat-label>
      <input style="width: 100%" autocomplete="off" [(ngModel)]="product.remaining_quantity" matInput placeholder="Quantité restante">
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>
  <div *ngFor="let sup of product.supplementsProduct " class="supplement">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nom du supplément</mat-label>
        <input style="width: 100%" autocomplete="off" [(ngModel)]="sup.name" matInput placeholder="Supplément">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Prix du supplément</mat-label>
        <input style="width: 100%" autocomplete="off" [(ngModel)]="sup.amount" matInput placeholder="Supplément">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" [disabled]="product.name.trim() == ''" (click)="onSaveProduct(product)" >Ok</button>
</div>
