<h1 mat-dialog-title>Edition/Ajout </h1>
<div class="mt-3 mb-3">
  <p style="font-size: x-large"><b>{{product.name}}</b></p>
</div>
<div style="width: 100%" mat-dialog-content>
  <div class="mt-3">
    <mat-slide-toggle (change)="onChange($event)" [(ngModel)]="product.isAvailable">Produit disponible</mat-slide-toggle>
  </div>
  <div class="mb-3 mt-3" *ngIf="categories">
    <label for="categories">Sélectionner une catégorie</label>
    <select class="form-control"
            name="cats"
            id="categories"
            [(ngModel)]="product.category.id"
            (change)="onChangeCategoryProduct($event)"
    >
      <option [value]="0">-Sélectionner une catégorie-</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <div *ngIf="product.urlPhoto && product.urlPhoto.trim() != ''" style="width: 150px; height: auto" >
    <img width="100%" src="{{ product.urlPhoto }}" alt="photo {{ product.name }}">
  </div>
  <div class="mt-2 mb-2">
    <label for="logo">Photo</label><br>
    <input type="file" id="logo" name="logo" (change)="onFileChange($event)" />
  </div>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nom du produit</mat-label>
      <input style="width: 100%" autocomplete="off" [(ngModel)]="product.name" matInput placeholder="Placeholder">
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Prix</mat-label>
      <input style="width: 100%" type="text" autocomplete="off" (keypress)="onChangeAmount()" [(ngModel)]="product.amount" matInput placeholder="Placeholder">
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input style="width: 100%" autocomplete="off" [(ngModel)]="product.description" matInput placeholder="Placeholder">
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Quantité restante</mat-label>
      <input style="width: 100%" autocomplete="off" [(ngModel)]="product.remaining_quantity" matInput placeholder="Quantité restante">
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>
  <div *ngFor="let sup of product.supplementsProduct " class="supplement">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nom du supplément</mat-label>
        <input style="width: 100%" autocomplete="off" [(ngModel)]="sup.name" matInput placeholder="Supplément">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Prix du supplément</mat-label>
        <input style="width: 100%" autocomplete="off" [(ngModel)]="sup.amount" matInput placeholder="Supplément">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
  </div>
  <div class="mt-3">
    <mat-slide-toggle [(ngModel)]="product.addComment"> Possibilité d'ajouter un commentaire par le client</mat-slide-toggle>
  </div>
  <div *ngIf="product.addComment == true">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Text indicatif au client</mat-label>
        <textarea style="width: 100%; height: 200px" autocomplete="off" [(ngModel)]="product.infoCommentCustomer" matInput placeholder="Supplément"></textarea>
      </mat-form-field>
    </p>
  </div>
  <hr>
  <div *ngIf="product.id && product.id != 0">
    <h4>Liste(s)</h4>
    <div style="margin-bottom: 1rem">
      <div style="margin-bottom: .5rem" *ngFor="let list of listAlreadyExists">
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="font-weight: 600">
            {{ list.title | titlecase}}
            <div *ngIf="list.supplementProducts" style="font-size: x-small; color: #3b4151; font-style: italic">
              <div class="pl-2" *ngFor="let sup of list.supplementProducts">
                {{ sup.name }}
              </div>
            </div>
          </div>
          <div>
          <span *ngIf="list.isForMenu && list.amount !== null" style="font-weight: bold; margin-right: .5rem">
            {{ (+(list.amount) / 100).toFixed(2) + '€' }}
          </span>
            <span style="float: right; color: red" (click)="onDeleteList(list.id)" class="material-icons" title="supprimer">delete</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <h4>Ajouter une liste</h4>
    <select (change)="onChangeListSup($event)" [(ngModel)]="listSelectedId" name="" class="form-control" id="">
      <option value="0">-Sélectionnez une liste-</option>
      <option *ngFor="let listSup of listSupps" value="{{ listSup.id }}">
        {{listSup.title | titlecase }}
      </option>
    </select>
    <hr>
    <h4>Supplément(s)</h4>
    <div style="margin-bottom: 1rem">
      <div style="margin-bottom: .5rem" *ngFor="let sup of suppAlreadyExists">
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="font-weight: 600">
            {{ sup.name | titlecase}}
          </div>
          <div>
          <span *ngIf="sup.amount !== null" style="font-weight: bold; margin-right: .5rem">
            {{ (+(sup.amount) / 100).toFixed(2) + '€' }}
          </span>
            <span style="float: right; color: red" (click)="onDeleteSup(sup.id)" class="material-icons cursor-pointer" title="supprimer">delete</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <h4>Ajouter un supplément</h4>
    <select (change)="onChangeSup($event)" [(ngModel)]="supSelectedId" name="" class="form-control" id="">
      <option value="0">-Sélectionnez un supplément-</option>
      <option *ngFor="let sup of suppAvailable" value="{{ sup.id }}">
        {{sup.name | titlecase }}
      </option>
    </select>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" [disabled]="product.name.trim() == ''" (click)="onSaveProduct(product)" >Ok</button>
</div>
