<div class="">
  <div class="modal-header">
    <h2 class="modal-title">Commande <b>#{{ order.id }}</b></h2>
    <button type="button" class="close" (click)="modalActive.close()" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div style="display: flex; justify-content: space-between; border-right: 2px solid violet" *ngFor="let product of products" class="col-xs-12 col-md-12">
        <div style="margin-bottom: .8rem;" class="col-xs-12 col-md-10">
          <span style="font-size: larger; font-weight: 400" class="pr-2"> x<b>{{ product.quantity }}</b> </span>
          <span style="font-size: larger; font-weight: 400; text-transform: uppercase">{{ product.name }}</span>
          <div *ngIf="product.supplementProducts && product.supplementProducts.length > 0" class="div-supplement">
            <h4 class="order-h4"><span style="font-size: xx-small;padding-right: .2rem;" class="material-icons">radio_button_unchecked</span>Supplément(s)</h4>
            <div *ngFor="let supplement of product.supplementProducts" style="padding-left: 3rem" class="supplement-name">
              <span style="font-size: small; padding-right: .3rem" class="material-icons">subdirectory_arrow_right</span> <b class="supplement-name">{{ supplement.name | titlecase }}</b>
              <b class="supplement-name">{{ supplement.amount != null && supplement.amount != 0 ? (supplement.amount / 100).toFixed(2) + '€' : ''}}</b>
            </div>
          </div>
          <div *ngIf="product.listSupplements && product.listSupplements.length > 0">
            <div *ngFor="let listS of product.listSupplements" class="div-supplement">
              <h4 class="order-h4"><span style="font-size: xx-small;padding-right: .2rem;" class="material-icons">radio_button_unchecked</span>{{ listS.title | titlecase }}</h4>
              <div *ngIf="listS.supplementProducts && listS.supplementProducts.length > 0">
                <div *ngFor="let supplement of listS.supplementProducts" class="div-supplement-name">
                  <span style="font-size: small; padding-right: .3rem" class="material-icons">subdirectory_arrow_right</span> <b class="supplement-name">{{ supplement.name | titlecase }}</b>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="product.commentCustomer != null" style="font-size: small;font-weight: 400;display: flex; justify-content: flex-start">
            <p>Commentaire Client :<br><b>{{ product.commentCustomer }}</b></p>
          </div>
        </div>
        <div class="col-xs-0 col-md-0" style="font-size: larger; font-weight: 400">{{ (product.amount * product.quantity) /100 | number : '1.2-2'}}€</div>
      </div>
    </div>
    <hr>
    <!--<div style="display: block; padding-left: 1rem" *ngIf="order.customer" class="row">
     <h4>Information Client</h4>
     <iv>
       Nom: <span><b>{{ order.customer.addresses[0].name }}</b></span>
     </div>
     <div>
       Téléphone: <a style="text-decoration: none" href="tel:{{ order.customer.phone }}"><b>{{ order.customer.phone }}</b></a>
     </div>
     <div>
       Adresse:
       <span>
         <b>{{ order.customer.addresses[0].street | titlecase }}, {{ order.customer.addresses[0].zipCode }}, {{ order.customer.addresses[0].city | titlecase }}</b>
       </span>
     </div>
    </div>-->
    <hr>
    <div class="mt-2 mb-2" style="display: flex; width: 100%; justify-content: flex-end;
      font-size: larger; font-weight: 600;">
    </div>
  </div>
  <div  style="display: flex; justify-content: space-between" class="modal-footer">
    <button style="margin: 1rem" (click)="modalActive.close('ok')" mat-raised-button color="primary">
      OK
    </button>
  </div>
</div>
