<div class="dashboard-component">
  <div class="w-100">
    <h5 style="font-size: 1.4rem; text-transform: uppercase">Catégories de produits</h5>
    <button mat-raised-button (click)="addCategory()" color="primary">Ajouter une catégorie</button>
    <span style="float: right"><button (click)="openDialog()" mat-raised-button color="primary">Ajouter des produits</button></span>
  </div>
  <div *ngIf="categories">
    <div *ngFor="let category of categories ">
      <div class="card category">
        <div  class="card-body">
          <div class="cursor-pointer" (click)="onGetProductByCategory(category.id)">
            {{ category.name }}
          </div>
          <span class="text-danger float-right "><i class="material-icons">delete</i></span>
          <span (click)="onAddProductToCategory(category)" class="text-success float-right mr-2"><i class="material-icons">library_add</i></span>
        </div>
      </div>
      <div *ngIf="category.products">
        <div>
          <mat-selection-list>
            <mat-list-option *ngFor="let prod of category.products">
              {{ prod.name }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h5 style="font-size: 1.4rem">PRODUITS <span *ngIf="productsResto">({{ productsResto.length }})</span> <span style="float: right"><button (click)="openDialog()" mat-raised-button color="primary">Ajouter</button></span></h5>
  <h5><mat-slide-toggle>Vue Tableau</mat-slide-toggle></h5>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Image</th>
        <th>Produit</th>
        <th>Qté</th>
        <th>Montant (unitaire)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of productsResto">
        <td>{{ p.product.created_at.date | date: 'dd/M/yyyy' }}</td>
        <td>{{ p.product.name }}</td>
        <td>{{ p.product.name }}</td>
        <td>{{ p.product.remaining_quantity }}</td>
        <td>{{ ((+(p.product.amount) / 100).toFixed(2)).replace('.', ',') + '€' }}</td>
        <!--<td>{{ ((p.product.amount/ 100) - ((+(p.product.amount) / 100) * 0.23)).toFixed(2) + '€' }}</td>
        <td>{{ (((+(p.product.amount) / 100) * 0.23)).toFixed(2) + '€' }}</td>-->
      </tr>
      </tbody>
    </table>

  </div>
  <div class="row">
    <div *ngFor="let p of  productsResto" class="col-md-3">
      <div style="margin: 1rem 0; background: white; border: none " class="card">
        <div (click)="onDelete('product', {product: p.product, supplement:'' })" class="delete-element" style="padding-top:.3rem; /*text-align: center; vertical-align:middle;font-size: x-large; color: white; */">
          <span style="color: white; font-size: x-large; cursor:pointer; " class="material-icons">
            cancel
          </span>
        </div>
        <div style="padding: 0" class="card-body">
          <div style="padding: 0" class="wrapper-img">
            <img src="{{ p.product.photo }}" alt="" width="100%" height="auto">
          </div>
          <div class="infos-product">
            <div class="mt-1 name-product">
              {{ p.product.name }}
              <span style="float: right">{{ (+(p.product.amount)/100).toFixed(2) +'€'}}</span>
            </div>
            <div class="mt-1 mb-2 description-product">
              {{ p.product.description }}
            </div>
            <div *ngIf="p.product.supplmentsProduct.length > 0">
              <h6 style="font-size: .8rem">Suppléments éventuelles</h6>
              <ul>
                <li *ngFor="let sup of p.product.supplmentsProduct">
                  <span (click)="onDelete('supplement', {product: p.product, supplement: sup.id})" style="cursor: pointer; font-size: large; color: red; padding-right: .5rem">X</span>
                  {{ sup.name }} <span style="float: right; font-weight: 200">{{ +(sup.amount) > 0 ? (+(sup.amount) / 100).toFixed(0) + '€' : 'Sans Frais'  }}</span>
                </li>
              </ul>
            </div>
            <div class="rating-product">
              <span class="material-icons rating-stars">
                star
              </span>
              <span class="material-icons rating-stars">
                star
              </span>
              <span class="material-icons rating-stars">
                star
              </span>
              <span class="material-icons rating-stars">
                star
              </span>
              <span class="material-icons rating-stars">
                star
              </span>
              <span style="float:right">
                <span (click)="openDialog(p.product)" title="Modifier" style="color: #0B7FC7; font-size: 1.1rem;padding-right:  .7rem" class="material-icons">
                  edit
                </span>
                <span title="Supprimer" style="color: red; font-size: 1.1rem" class="material-icons">
                  delete
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

