<section class="cart mt-3">
    <div>
        <button [disabled]="cart.products.length == 0" mat-raised-button [color]="cart.products.length > 0 ? 'primary' : 'danger'" (click)="seeCart()" >VOIR MON PANIER</button>
    </div>
    <div class="cart-current pt-3">
        <div *ngIf="cart.products.length == 0">
          <p>VOTRE PANIER EST VIDE</p>
        </div>
        <div *ngIf="cart.products.length > 0">
            <div *ngFor="let product of cart.products" class="cart-product">
              <div style="display: flex;padding: .5rem 0;border-bottom: 1px solid #eaeaea69; font-size: small" class="product-row">
                <div style="flex: auto">
                 <select class="form-control" (change)="onUpdateCart($event, product)" name="product-quantity" style="width: auto" id="product-quantity">
                    <option value="{{ product.quantity }}" selected>{{ product.quantity }}</option>
                    <option *ngFor="let q of qMax"
                            value="{{ q }}"
                            [disabled]="q == product.quantity "
                    >{{ q }}</option>
                  </select>
                </div>
                <div class="mt-2 pl-2" style="flex: 2; text-align: left">
                  <div style="font-size: .9rem; margin-left: -3rem; font-weight: bold; text-transform: capitalize">{{ product.name }}</div>
                  <div style="font-size: smaller; color: #ccc; margin-left: -3rem;">
                    {{ product.description }}
                  </div>
                </div>
                <div class="mt-2 pl-2" style="flex: auto;line-height: 1.8;font-size: 0.9rem;">{{ (product.amount / 100).toFixed(2) }}€</div>
                <div class="mt-2 pl-2" style="/* flex: auto; */line-height: 1.5;font-size: x-small;">
                  <span style="cursor: pointer" (click)="onDelete(product)"><i style="color: red" class="material-icons">delete</i></span>
                </div>
              </div>
            </div>
            <div style="color: #27b666; font-weight: bold" class="mt-2">TOTAL {{ cart.total ? (cart.total).toFixed(2) : '' }}€</div>
        </div>
    </div>
</section>
