<div class="modal-header">
    <h4 class="modal-title">Menu</h4>
    <button type="button" class="close" (click)="modalActive.close()" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><b>{{ product.name | uppercase }}</b></p>
    <div>
        <p>{{ product.description }}</p>
    </div>
    <div>
        {{ (+(product.amount) / 100).toFixed(2) }}€
    </div>
    <div style="text-align: center">
        <button type="button" mat-raised-button color="primary" (click)="updateQuantity('less')" ><i style="vertical-align:middle" class="material-icons">remove</i></button>
        <span style="font-size: x-large; padding-left: 2rem; padding-right: 2rem" >{{ quantityCurrent }}</span>
        <button type="button" mat-raised-button color="primary" (click)="updateQuantity('more')"><i style="vertical-align:middle" class="material-icons">add</i></button>
        <span *ngIf="infos"></span>
    </div>
</div>
<div class="modal-footer">
    <!-- todo integrer le montant total de ce produit -->
    <button type="button" (click)="updateCart()" class="btn btn-outline-primary" >Total {{ (+(product.amount) / 100 * quantityCurrent).toFixed(2) }} €</button>
</div>
