<div class="modal-header">
  <h2>Alerte</h2>
</div>
<!--<div class="modal-body">
  <mat-form-field>
    <mat-label>- Classification -</mat-label>
    <mat-select [(ngModel)]="period">
      <mat-option value="info">
        Information
      </mat-option>
      <mat-option value="warning">
        Attention
      </mat-option>
      <mat-option value="danger">
        Danger
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle (change)="onPublish($event, commerce)" [(ngModel)]="">Publier</mat-slide-toggle>

</div>-->
<div class="modal-footer"></div>
