<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Heure</th>
        <th>Prix</th>
        <th>Donner le code</th>
        <th class="text-right">Status</th>
      </tr>
    </thead>
    <tbody *ngIf="customer">
      <tr *ngFor="let order of customer.orders">
        <td>{{ order.date.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ order.date.date | date: 'hh:mm' }}</td>
        <td>{{ (order.amount) }}</td>
        <td>
          <span class="material-icons text-success" *ngIf="order.customer_code_agree == true">
            check_circle_outline
          </span>
          <span *ngIf="order.customer_code_agree == true">
            {{ order.deliverCode }}
          </span>
          <span class="material-icons text-danger" *ngIf="order.customer_code_agree != true">
            unpublished
          </span>
        </td>
        <td class="text-right">
          <div [ngSwitch]="order.status">
            <span *ngSwitchCase="fastEatConst.status.WAITING_RESPONSE_BUSINESS" class="badge badge-warning">
              Attente réponse Restaurant
            </span>
            <span *ngSwitchCase="fastEatConst.status.WAITING_TAKING_BY_DELIVER || fastEatConst.status.ORDER_ROUTING " class="badge badge-info">
              En cours d'acheminement
            </span>
            <span *ngSwitchCase="fastEatConst.status.ORDER_CLOSED_WITH_SUCCESS || fastEatConst.status.ORDER_ROUTING " class="badge badge-success">
              Livré
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
