<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidebarLeft [mode]="modeSide" opened role="navigation">
    <mat-nav-list>
      <div class="sidebar-left">
      <div style="display: flex; justify-content: center; margin-bottom: 1.5rem" class="">
        <div>
          <img style="border: 2px solid #c823f1" class="rounded-circle" src="assets/user.png" width="65px" alt="">
        </div>
      </div>
      <div style="width: 100%; display: flex; flex-direction: column;justify-content: center" class="nav">
        <div class="wrapper-link-sidebar">
          <a routerLink="#">
            <div>
              <h2>ADMINSTRATION</h2>
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="/admin/user">
            <div>
              Livreurs
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="/admin/commerce">
            <div>
              Commerce
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="/customer/comment">
            <div>
              Commentaires
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="/admin/deliveries">
            <div>
              Livraisons
            </div>
          </a>
        </div>
        <div class="wrapper-link-sidebar">
          <a routerLink="/customer/comment">
            <div>
              Membres
            </div>
          </a>
        </div>
      </div>
    </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-restaurant-dashboard">
      <header>
        <div style="width: 100%" class="top-bar-dashboard">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12" style="display: flex;width: 100%">
              </div>
              <div class="col-md-9">
              </div>
            </div>
          </div>
        </div>
      </header>
      <section style="margin-top: 1rem; height: 100vh" class="container-fluid">
        <!-- 5 last orders -->
        <div class="row">
        </div>
        <mat-menu #menu="matMenu">
          <button *ngFor="let notif of notifications"  mat-menu-item>{{ notif.message }}</button>
        </mat-menu>
        <div class="row">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
