<h2>
    Liste des commandes en cours. 
</h2>
<div class="row">
    <div class="col-md-12">
        <ul id="delivery_list" class="mdc-list inline-demo-list">
            <!----><!---->
          <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:405px; --mdc-ripple-fg-scale:1.69901; --mdc-ripple-fg-translate-start:-121.3px, -163.1px; --mdc-ripple-fg-translate-end:135.7px, -178.5px;">            
            <span class="mdc-list-item__text">
              List item 
            </span>
            
            <span aria-hidden="true" class="mdc-list-item__meta"><!----><!---->
            <button data-mdc-ripple-is-unbounded="" class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;" tabindex="-1">
                more_vert
            </button>
            </span>

            <span class="mdc-list-item__secondary-text">
                Secondary text
            </span>
          
          </li>
          <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">  
            <span class="mdc-list-item__text">
              List item 
            </span>
            
            <span aria-hidden="true" class="mdc-list-item__meta">
            <button data-mdc-ripple-is-unbounded="" class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                more_vert
            </button>
            </span>
          
          </li>
          <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">
            <span class="mdc-list-item__text">
              List item 
            </span>
            
            <span aria-hidden="true" class="mdc-list-item__meta">
             <button data-mdc-ripple-is-unbounded="" class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                more_vert
            </button>
        </span>
      
    </div>
</div>
