<h2>
    Liste des commandes en cours
</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Numéro de commande</th>
        <th>Restaurant</th>
        <th>Date</th>
        <th>Cout de la livraison</th>
        <th>Status</th>
        <th>Notification</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order" *ngFor="let order of delivery.orders" routerLink="/delivery/detail-delivery/{{order.id}}" >
        <td>{{ order.id }}</td>
        <td> MisterFoodNight</td>
        <td>{{ order.date.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ order.delivery_cost / 100 }}</td>
        <td>
          <span matBadge="8" matBadgePosition="before" matBadgeColor="accent">
          </span>
        </td>
        <td>
          <button (click)="setNotif()" mat-raised-button color="second">Notif Livreur</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
