<section *ngIf="restaurantDatas" class="wrapper-restaurants">
  <div class="header-restaurant">
    <div class="card-facade">
      <div style="" class="wrapper-card-header"></div>
        <div class="logo-wrapper">
          <img src="assets/home_images/sushi.jpg" alt="">
        </div>
        <div style="margin-top: 2rem" class="">
          <h1 class="text-center" style="font-size: xx-large;font-family: 'Oswald', sans-serif"><b>{{ restaurant.name  }}</b></h1>
        </div>
        <div class="w-100 text-center">
          <span *ngFor="let i of starsRestaurant">
              <i style="font-size: medium; vertical-align: sub; color: gold " class="material-icons ">grade</i>
          </span>
        </div>
        <span style="display: block; color: #969696" class="text-center font-italic">{{ restaurant.street }}</span>
    </div>
  </div>
  <!--<div style="height: 150px;object-position: 10% -25% ; overflow: hidden" class="wrapper-img-header">
    <img src="http://localhost:8000/upload/restaurant/header_top.jpg" width="100%" alt="">
  </div>-->
  <p></p><!-- todo breadcrumb
    <div class="container-fluid">
        <div style="" class="row header-top-restaurant">
            <div class="col-md-8">
                <div *ngIf="restaurant" style="font-family: 'Hind Vadodara', sans-serif; " class="restaurant-name">
                    <h1 style="font-family: 'Oswald', sans-serif"><b>{{ restaurant.name  }}</b></h1>
                    <span *ngFor="let i of starsRestaurant">
                        <i style="font-size: medium; vertical-align: sub; color: limegreen " class="material-icons ">grade</i>
                    </span>
                    <span style="">4,9 (20 avis) </span>
                    <div *ngIf="restaurant.tags">
                      <p *ngIf="restaurant.tags.length > 0">
                      <span *ngFor="let tag of restaurant.tags">
                        {{ tag.name + ' - ' }}
                      </span>
                      </p>
                    </div>
                    <span style="display: block"></span>
                    <span style="display: block">{{ restaurant.estimated_preparation_time }}</span>
                    <span style="display: block" class="mt-4">{{ restaurant.address }}</span>
                    <span style="display: block" class="mt-4">
                        <i style="font-size: medium; vertical-align: sub; color: cornflowerblue" class="material-icons ">info</i> Des détails sur le restaurant
                    </span>
                    <span class="badge badge-warning">Warning</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center" class="restaurant-sidebar">
                    <img style="border-radius: 4px" src="assets/home_images/sushi.jpg" width="100%" height="100%" alt="">
                    <span class="mt-2" style="display: block; font-family: 'Hind Vadodara', sans-serif; font-size: medium">
                        <i style="font-size: large; vertical-align: sub; color: orangered" class="material-icons ">moped</i>
                        Livré entre 13h00 et 13h45
                    </span>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div style="display: flex" class="navbar-restaurant">
                    <nav class="nav-menu" role="navigation">
                        <div *ngFor="let category of categories">
                          <a (click)="scroll( category.category_name )">{{ category.category_name }}</a>
                        </div>
                        <!--<div><p style="cursor: pointer" (click)="scroll('tacos')">Tacos</p></div>
                        <div><a href="">Kebab</a></div>
                        <div><a href="">Plats cuisinés</a></div>
                        <div><a href="">Burger</a></div>
                        <div><a href="">Pizza</a></div>-->
                    </nav>
                </div>
                <div class="container">
                <div *ngIf="categories">
                  <div *ngFor="let category of categories " style="margin-top: 1rem;" id="{{ category.category_name }}">
                    <h4><b>{{ category.category_name }}</b></h4>
                    <div class="row">
                      <div *ngFor="let product of category.category_products" class="col-md-6 card-menu">
                        <div (click)="openModal(product)" class="wrapper-menu">
                          <div style="display: flex; flex-direction: row;" class="infos-menu">
                            <div style="justify-content: space-between;position: relative;flex-grow: 1;display: flex; flex-direction: column;">
                              <div>
                                <h6 style="margin-bottom: .1rem"><b style="font-size: medium; font-weight: 300">{{ product.name | titlecase }}</b></h6>
                              </div>
                              <p class="info-ingredient">Ingrédients du sushi tandoori - poulet - carotte - oignon </p>
                              <div class="bottom-info-menu">
                                <span style="font-size: small">{{ (+(product.amount)/ 100).toFixed(2)  }}€</span><span style="font-size: small"> Info lambda</span>
                              </div>
                            </div>
                            <div class="image-menu">
                              <img src="assets/home_images/sushi.jpg" width="100%" height="100%" alt="Sushi">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    </div>
                  </div>
                </div>
                <div *ngFor="let product of products " style="margin-top: 1rem;" id="tacos">
                <div style="margin-top: 1rem;" id="ancre-menu">
                  <div  class="row">
                    <div *ngFor="let product of products" class="col-md-6 card-menu">
                      <div (click)="openModal(product)" class="wrapper-menu">
                        <div class="infos-menu">
                          <div class="position-text-product">
                            <div>
                              <h6 style="margin-bottom: .1rem"><b>{{ product.name }}</b></h6>
                            </div>
                            <p class="info-ingredient">{{ product.ingredients }}</p>
                            <div class="bottom-info-menu">
                              <span>{{ product.price }}€</span><span> Info lambda</span>
                            </div>
                          </div>
                          <div *ngIf="product.urlPhoto" class="image-menu">
                            <img src="{{ product.urlPhoto }}" width="100%" height="100%" alt="Sushi">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                 <!-- todo menuTitle-restaurants --->
                 <!-- todo panier --->
                <app-cart></app-cart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
        </div>
    </div>
</section>
