<section *ngIf="restaurantDatas" style="position: relative" id="restaurant-{{ restaurant.id }}" class="wrapper-restaurants">
  <div style="z-index: 10000" (click)="scroll('restaurant-' +  restaurant.id )" class="back-to-top">
    <span style="font-size: xx-large" class="material-icons">
      play_circle
    </span>
  </div>
  <div style="" [class.is-closed]="restaurant && restaurant.closed == true">
    <div *ngIf="restaurant.closed == true"  class="mt-5 position-fixed w-100" >
      <h2 style="font-size: 3rem; color: white; line-height: 2; text-transform: uppercase" class="text-center">Indisponible en livraison</h2>
    </div>
  </div>
  <div *ngIf="urlBackgroundRestaurant && urlLogoRestaurant"
       [ngStyle]="{background: 'url(' + urlBackgroundRestaurant + ')', 'background-size': 'cover', 'background-position': 'center' }"
       class="header-restaurant">
    <div class="card-facade">
      <div style="" class="wrapper-card-header"></div>
      <div class="logo-wrapper">
        <img src="{{ urlLogoRestaurant }}" alt="">
      </div>
      <div style="margin-top: 2rem" class="">
        <h1 class="text-center" style="font-size: xx-large;font-family: 'Oswald', sans-serif"><b>{{ restaurant.name  }}</b></h1>
      </div>
      <div class="w-100 text-center">
        <span *ngFor="let i of starsRestaurant">
            <i style="" class="material-icons grade-style">grade</i>
        </span>
      </div>
      <span style="display: block;color: #3c3c3c;font-size: smaller;" class="text-center font-italic">{{ restaurant.street }}</span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div style="display: flex" id="nav-div" class="navbar-restaurant sticky-top">
          <nav class="nav-menu"   style="display: flex;width: 100%;background: white; padding: 1.3rem; position: relative" role="navigation">
            <div style="position: absolute;/* top: 20px; */right: 0px;height: 100%;"><span style="font-size: large;vertical-align: middle;" class="material-icons">arrow_forward</span></div>
            <div *ngIf="categories && categories.length >= 5" class="table-responsive">
              <div id="div-to-modify" style="display: flex; width: 100%; overflow-x: scroll; margin-bottom: 0 !important;"  class="restaurant-detail table-responsive nav-header-menu" >
                <div class="d-flex">
                  <div [ngStyle]="{'border': 'none'}" class="nav-header-menu"  style="display: flex" *ngFor="let category of categories ; let index = index" >
                    <div>
                      <a  (click)="scroll( category.category_name )" style="white-space: nowrap !important;font-size: inherit;font-weight: 400;" class="menu-title cursor-pointer">{{ category.category_name | titlecase }}</a>
                    </div>
                    <div style="width: 24px"></div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: flex;justify-content: space-evenly;width: 100%;" *ngIf="categories && categories.length < 5">
              <div *ngFor="let category of categories">
                <a (click)="scroll( category.category_name )" class="menu-title cursor-pointer">{{ category.category_name | titlecase }}</a>
              </div>
            </div>
          </nav>
        </div>
        <div *ngIf="restaurant.id == 21" style="padding: 0.3rem; box-shadow: 2px 5px 10px rgba(0,0,0,0.03)" class="w-100">
          <div style="padding: .5rem">
            <h4 style="padding: 1.4rem; line-height: 1; font-size: xx-large; text-align: center; text-transform: uppercase;  background: #d21313;  color: white;">3 PIZZAS AU CHOIX achetées 1 MARGUERITE OFFERTE</h4>
          </div>
        </div>
        <div *ngIf="restaurant.id == 61" style="margin-left: 0;padding-left: 0; padding-right: 0;" class="w-100">
          <div style="margin-bottom: 0 !important; font-size: x-small" class="alert alert-success text-center" role="alert">
            *Chacun de nos burgers comporte une portion de frite   <i class="em em-blush" aria-role="presentation" aria-label="SMILING FACE WITH SMILING EYES"></i>
          </div>
        </div>
        <!--<div *ngIf="restaurant.id == 22" style="padding: 0.3rem; box-shadow: 2px 5px 10px rgba(0,0,0,0.03)" class="w-100">
          <div style="padding: .5rem">
            <div style="padding: 1.4rem; line-height: 1; font-size: xx-large; text-align: center; text-transform: uppercase;"
                 class="alert alert-success text-center" role="alert"
            >
              TOUS LES MIDIS, à partir de 20€ D'ACHAT 1 CHEESEBURGER OFFERT
            </div>
          </div>
        </div>-->
        <div *ngIf="
        this.specialOffer
        && this.specialOffer.title
        && this.specialOffer.isActive" style="padding: 0.3rem; box-shadow: 2px 5px 10px rgba(0,0,0,0.03)" class="w-100">
          <div style="padding: .5rem">
            <h4 style="padding: 1.4rem; line-height: 1; font-size: xx-large; text-align: center; text-transform: uppercase;  background: #e717d4;  color: white;">{{ specialOffer.title | titlecase }}</h4>
          </div>
        </div>
        <div class="pb-2 container">
          <div *ngIf="categories">
            <div *ngFor="let category of categories " style="" class="menu-title" >
              <div id="{{ category.category_name }}" class="">
                <div style="padding-top: 2.8rem"></div>
                <h4 class="mt-2 mb-0" style="font-size: large; color: #d840ff; text-transform: uppercase"><b>{{ category.category_name }}</b></h4>
                <div class="row">
                  <div *ngFor="let product of category.category_products" class="col-md-6 card-menu">
                    <div [class.not-allowed]="product.is_available == false" (click)="openModal(product)" class="wrapper-menu">
                      <div style="display: flex; flex-direction: row;" class="infos-menu">
                        <div style="justify-content: space-between;position: relative;flex-grow: 1;display: flex; flex-direction: column;">
                          <div>
                            <h6 style="margin-bottom: .1rem"><b style="font-size: medium; font-weight: 500">{{ product.name | titlecase }}</b></h6>
                          </div>
                          <p class="info-ingredient">{{ product.description | titlecase }}</p>
                          <div class="bottom-info-menu">
                            <span style="font-size: small">{{ (+(product.amount)/ 100).toFixed(2)  }}€</span>
                          </div>
                        </div>
                        <div *ngIf="product.url_photo && product.url_photo.length > 5" class="image-menu">
                          <img src="{{ product.url_photo }}" width="100%" height="100%" alt="{{ product.name }}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="" id="container-app-cart">
          <app-cart class="container-app-cart"></app-cart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
