.header-top-restaurant {
  padding: .7rem;
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);*/
  border-radius: 4px;
  /*border: .0003rem solid #dfdfdf;*/
  background: #fcfcfc;
}

.image-menu {
  position: relative;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  margin-top: 0;
  margin-left: 16px;
  background-position: center;
  background-color: #e8ebeb;
  background-size: cover;
  align-self: center;

  > img {
    border-radius: 3px;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.nav-menu-product {

}
.wrapper-menu {
  margin-top: .5rem;
  padding: 0.4rem;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
  border: 1px solid #a5a5a521;
  cursor: pointer;
  height: 130px;
  width: 100%;
  box-shadow: -3px 6px 18px rgb(169 169 169 / 6%);

  &:hover {
    box-shadow: 0 22px 24px 0 rgba(200, 35, 241, 0.09);
    border: 2px solid #ab3de4;
  }
}

.menu-title {
  font: 200 14px/20px Roboto,Helvetica Neue,sans-serif;
  font-size: large;
  font-weight: 400;
}


.card-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}
.header-restaurant {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.card-facade {
  width: 40%;
  height: 150px;
  margin-top: 5%;
  background: #ffffffed;
  box-shadow: 2px 3px 12px rgba(0,0,0,0.09);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border: .02rem solid #ac46de;
  }
}


.wrapper-card-header {
  padding: .8rem;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  position: absolute;
}

.logo-wrapper {
  margin: -2rem auto;
  width: 100px;
  height: 70px;
  background: white;
  border: 2px solid #cbcdc9;
  z-index: 5;
    img {
      height: 100%;
      width: 100%;
    }
}
.info-ingredient {
  font-size: small;
  /* margin-bottom: 0.1rem !important; */
  color: #232323;
  font-family: "Hind Vadodara", sans-serif;
}

.infos-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
}


.position-text-product {
  position: relative;
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}



.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d434e02b;
}

.container-app-cart {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .header-restaurant {
    height: auto;
  }

  .container-app-cart {
    position: fixed;
    bottom: -1px;
    z-index: 10000;
    padding: 0.3rem;
    left: 0;
    right: 0;
    height: 100px;
    overflow: auto;
  }

  .card-facade {
    width: 90%;
    margin-bottom: 1.2rem;
  }

  .nav-menu {
    margin-top: 0;
    padding-bottom: .8rem;
    border-bottom: 1px solid #c823f142;
  }

  .menu-title {
    font: 200 x-small Roboto, Helvetica Neue, sans-serif;
    font-size: x-small;
    padding-top: .8rem;
  }
}
