<div style="margin: 2rem 0" class="card">
  <div class="card-body">
    <div style="width: 100%; justify-content: space-between" class="d-md-flex align-items-center">
      <div>
        <h4 class="card-title">Commerces</h4>
        <h5 *ngIf="nbCommerce" style="font-size: x-large" class="card-subtitle">Nombres <em><b>{{ nbCommerce }}</b></em></h5>
      </div>
      <div class="">
        <div>
          <button mat-raised-button color="primary" (click)="onAddCommerce()">Ajouter un resto</button>
        </div>
      </div>
    </div>
    <div class="table-responsive" style="position: relative">
      <table class="table table-striped no-wrap v-middle">
        <thead>
        <tr >
          <th class="border-0">Rèf.</th>
          <th class="border-0">Nom</th>
          <th class="border-0">Actif</th>
          <th class="border-0">Actions</th>
          <th class="broder-0">Fermé</th>
        </tr>
        </thead>
        <tbody cdkDropList cdkDropListOrientation="vertical"  (cdkDropListDropped)="drop($event)">
        <tr class="pd-top-bottom-1" *ngFor="let commerce of commerces"  cdkDrag>
          <td>
            <div class="">
              <span>{{ commerce.id }}</span>
            </div>
          </td>
          <td>
            <div class="">
              <span>{{ commerce.name }}</span>
            </div>
          </td>
          <td>
            <mat-slide-toggle (change)="onActivate($event, commerce)" [(ngModel)]="commerce.active"></mat-slide-toggle>
          </td>
          <td>
            <div class="">
              <button mat-raised-button color="primary" (click)="onEditCommerce(commerce)"><span class="material-icons">edit</span></button>
              <button mat-raised-button color="warn" (click)="onDelete(commerce.id)"><span class="material-icons">delete</span></button>
            </div>
          </td>
          <td>
            <mat-slide-toggle (change)="onChange($event, commerce)" [(ngModel)]="commerce.closed"></mat-slide-toggle>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button  mat-raised-button color="primary" (click)="onValidatePosition()">Valider le positionnement</button>
    </div>
  </div>
</div>
