.subscription-card-header {
  background: #d346f6;
  color: white;
  font-size: large;
  vertical-align: sub;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0 !important;
}
