<section style="padding: 1rem">
  <header>
    <h1>Adresse de livraison</h1>
    <span *ngIf="showErrorAddress" class="error">
      Cette adresse est incorrect.
    </span>
  </header>
  <hr>
  <div class="form-group">
    <p>
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Téléphone*</mat-label>
        <input matInput type="text" [formControl]="phoneCustomerCurrent" placeholder="0111111111">
        <mat-icon
          [class.text-danger]="phoneCustomerCurrent.invalid"
          [class.text-success]="!phoneCustomerCurrent.invalid"   matSuffix>phone</mat-icon>
          <mat-error *ngIf="phoneCustomerCurrent.invalid">{{ getErrorPhoneMessage() }}</mat-error>
      </mat-form-field>
    </p>
  </div>
  <div class="form-group">
    <p>
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Nom*</mat-label>
        <input matInput type="text" [formControl]="nameCustomerCurrent" placeholder="">
        <mat-icon
          [class.text-danger]="nameCustomerCurrent.invalid"
          [class.text-success]="!nameCustomerCurrent.invalid" matSuffix>{{ !nameCustomerCurrent.invalid ? 'sentiment_satisfied_alt' : 'sentiment_very_dissatisfied' }}</mat-icon>
        <mat-error *ngIf="nameCustomerCurrent.invalid">{{ getErrorNameMessage() }}</mat-error>
      </mat-form-field>
    </p>
  </div>
  <mat-radio-group class="">
    <mat-radio-button [disabled]="isDefaultAddress" (click)="toggle()" [checked]="addressByDefault" class="example-margin mr-5" value="primary">
      Adresse par (défaut)
    </mat-radio-button>
    <mat-radio-button (click)="toggle()" [checked]="!addressByDefault" class="example-margin" value="accent">
      Nouvelle adresse
    </mat-radio-button>
  </mat-radio-group>
  <div class="mt-4" *ngIf="addressByDefault">
    <h4 class="font-weight-light">Adresse par défaut</h4>
    <div class="">
      Rue : <b>{{ address.street }}</b>
    </div>
    <div class="">
      Code postale : <b>{{ address.zipcode }}</b>
    </div>
    <div class="">
      Ville : <b>{{ address.city }}</b>
    </div>
    <div class="mt-2">
      <div class="modal-footer">
        <button
          [disabled]="!phoneCustomer
        || phoneCustomer.trim() == ''
        || phoneCustomer.length < 10
        || nameCustomerCurrent.invalid
        || phoneCustomerCurrent.invalid
        "
          (click)="onChooseAddress('default')" mat-raised-button color="primary">
          Je choisis cette adresse
        </button>
      </div>
    </div>
    <div>
    </div>
  </div>
  <div class="mt-3" *ngIf="!addressByDefault">
    <h4 class="font-weight-light ">On livre vos plats préférés à l'adresse suivante</h4>
    <div >
      <!--<div class="form-group">
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Numéro</mat-label>
            <input matInput type="text" [(ngModel)]="numNewAddress" placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </p>
      </div>-->
        <div class="input-group">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Rue, avenue...</mat-label>
            <input matInput
                   [(ngModel)]="street"
            >
            <!--<input matInput
                   [(ngModel)]="street"
                   autocomplete="off"
                   type="text"
                   id="find-me"
                   ngx-google-places-autocomplete
                   [options]='options'
                   #placesRef="ngx-places"
                   (onAddressChange)="handleAddressChange($event)"
            >-->
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
      <div class="form-group">
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Code Postal</mat-label>
            <input matInput type="text" [(ngModel)]="zipcode" placeholder="Placeholder">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Ville</mat-label>
            <input matInput type="text" [(ngModel)]="city" placeholder="Placeholder">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Commentaire(s)</mat-label>
            <input matInput type="text" [(ngModel)]="this.commentAddress" placeholder="Placeholder">
            <mat-icon matSuffix>masks</mat-icon>
          </mat-form-field>
        </p>
      </div>
        <div class="mt-2 modal-footer">
          <div>
            <button mat-raised-button [disabled]="
            !phoneCustomer
            || phoneCustomer.trim() == ''
            || zipcode.trim() == ''
            || city.trim() == ''
            || street.trim() == ''
            || nameCustomerCurrent.invalid
            || phoneCustomerCurrent.invalid
            "  type="button" (click)="onSaveNewAddress()"  color="primary">Valider</button>
          </div>
        </div>
    </div>
  </div>
</section>
