<section style="padding: 1rem">
  <header><h1>Adresse de livraison</h1></header>
  <hr>
  <mat-radio-group class="">
    <mat-radio-button (click)="toggle()" [checked]="addressByDefault" class="example-margin mr-5" value="primary">
      Adresse par (défaut)
    </mat-radio-button>
    <mat-radio-button (click)="toggle()" [checked]="!addressByDefault" class="example-margin" value="accent">
      Nouvelle adresse
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="addressByDefault">
    <h4>Adresse par défaut</h4>
    <div>
      Rue : <b>{{ address.street }}</b>
    </div>
    <div>
      Code postale : <b>{{ address.zipcode }}</b>
    </div>
    <div>
      Ville : <b>{{ address.city }}</b>
    </div>
    <div>
      <button (click)="onChooseAddress('default')" mat-raised-button color="primary">
        Je choisis cette adresse
      </button>
    </div>
    <div>
    </div>
  </div>
  <div *ngIf="!addressByDefault">
    <h4>On livre vos plats préférés à l'adresse suivante</h4>
    <div >
      <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p>
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Nom (Facultatif)</mat-label>
              <input matInput type="text" formControlName="street" placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
        </div>
        <div class="input-group">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>1 rue de la place</mat-label>
            <input matInput
                   autocomplete="off"
                   type="text"
                   id="find-me"
                   ngx-google-places-autocomplete
                   [options]='options'
                   #placesRef="ngx-places"
                   (onAddressChange)="handleAddressChange($event)"
            >
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button (click)="onSaveNewAddress()" color="primary">Valider</button>
        </div>
      </form>
    </div>
  </div>
</section>
