<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="padding: .5rem; background: #ffa217; font-size: larger; color: white;">Récapitulatif du panier</h3>
    </div>
    <hr>
  </div>
  <hr>
  <div *ngIf="cartCurrent" class="row">
    <div *ngIf="cartCurrent.products"  class="col-md-8">
      <div *ngFor="let product of cartCurrent.products">
        <div style="display: flex; flex-direction: column" class="wrapper-card-product">
          <div style="display: flex; flex-direction: row; ">
            <div style="flex: auto;text-align: center;align-self: center;">
               {{ product.quantity }}
            </div>
            <div style="display: flex;flex-direction: column;flex: 4;">
              {{ product.name }}
              <div class="product-ingredient">
                {{ product.description }}
              </div>
            </div>
            <div style="align-self: center;">{{ (+(product.amount)/ 100).toFixed(2) }} €</div>
          </div>
          <div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="width: 100%" class="checkout-stripe-form">
        <div style="width: 100%;display: flex; justify-content: space-between; padding: .5rem">
          <div>
            <h5>Stripe</h5>
          </div>
          <div style="">
            <img style="" src="assets/stripe/cards_logo.png" width="150" height="auto" alt="logo stripe">
          </div>
        </div>
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
        <!--<div id="card-element" style="width: 100%">
          <div style="display:flex;">
            <div style="flex: 2; padding-right: 7px" class="form-group">
              <label for="cardNumber">Numéro de carte</label>
              <div id="cardNumber" class="field empty">
              </div>
            </div>

            <div style="flex: auto; padding-right: 7px" class="">
              <label style="display: block !important;" for="cardExpiry">Date d'expiration</label>
              <div id="cardExpiry"  class="field empty">
              </div>
            </div>

            <div style="flex: auto" class="">
              <label style="display: block;" for="cardCvc">CVV</label>
              <div id="cardCvc" class="field empty">
              </div>
              <p style="display: inline-block; font-size: smaller; font-style: italic"></p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Adresse de livraison</h4>
      <div *ngFor="let address of userAddresses">
        Rue: <b>{{ address.street }}</b>
        <div>
          Ville: <b>{{ address.city }}</b>
        </div>
        <div>
          Code postale: <b>{{ address.zipcode }}</b>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div *ngIf="hasAddressSelected" class="row">
    <div class="col-md-6">
    </div>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1">Frais de livraison</div>
      <div *ngIf="cartCurrent.deliveryCost"
      >{{ cartCurrent.deliveryCost }} €</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <hr>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1">Frais de service</div>
      <div>0,55 €</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <hr>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1">TOTAL</div>
      <div>{{ (cartCurrent.total.toFixed(2)).replace('.', ',') }} €</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5>Paiement sécurisé
      </h5>
    </div>
  </div>
  <div class="row">
      <div style="display: flex; justify-content: center" class="col-md-12">

      </div>
    <div style="display: flex;margin-top: -.5rem;" class="col-md-12">

    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
    </div>
      <div style="display: flex;text-align: right;justify-content: flex-end;margin-top: 2rem;" class="col-md-6">
      <button (click)="onProceedCheckout($event)" style="align-self: flex-end" class="btn btn-success">VALIDER LE PAIEMENT</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!--<form id="payment-form">
        <div id="card-element">
        </div>

        <div id="card-errors" role="alert"></div>

        <button id="submit">Livrez-moi!</button>
      </form>-->
    </div>
  </div>



</section>
