<div *ngIf="showLoader" class="wrapper-loader mb-5">
  <div class="loader"></div>
</div>
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="padding: .5rem; background: #ffa217; font-size: larger; color: white;">Récapitulatif du panier</h3>
    </div>
  </div>
  <hr>
  <div *ngIf="cartCurrent" class="row">
    <div *ngIf="cartCurrent.products"  class="col-md-12">
      <div *ngFor="let product of cartCurrent.products">
        <div style="display: flex; flex-direction: column" class="wrapper-card-product">
          <div style="display: flex; flex-direction: row; ">
            <div style="flex: auto;text-align: center;align-self: center; display: flex; justify-content: space-evenly">
              <div>
                <button (click)="onUpdateCart('less', product)" [disabled]="product.quantity == 1" style="min-width: 20px !important; line-height: 1px !important;padding: 0px 2px !important;" mat-raised-button color="primary">
                  <i style="position: relative; margin-top: 0 !important; margin-left: 0 !important; color: white; font-size: 1.3rem;" class="material-icons">remove</i>
                </button>
              </div>
              <div>
                <span style="font-size: x-large;">{{ product.quantity }}</span>
              </div>
              <div>
                <button (click)="onUpdateCart('more', product)" style="min-width: 20px !important; line-height: 1px !important;padding: 0px 2px !important;" mat-raised-button color="primary">
                  <i style="position: relative; margin-top: 0 !important; margin-left: 0 !important; color: white; font-size: 1.3rem;"  class="material-icons">add</i>
                </button>
              </div>
            </div>
            <div style="display: flex;flex-direction: column;flex: 4;margin-top: 7px;font-size: 1rem;font-weight: 600;">
              {{ product.name }}
              <div class="product-ingredient">
                {{ product.description }}
                <div *ngIf="product.supplementProducts && product.supplementProducts.length > 0">
                  <div *ngFor="let sup of product.supplementProducts">
                    <span style="font-size: smaller; color: #ccc;">
                        {{ sup.name | titlecase }} {{ sup.amount != null && +(sup.amount) > 0 ? (+(sup.amount) / 100).toFixed(2) + '€' : ''}}
                    </span>
                  </div>
                </div>
                <div
                  *ngIf="product.listSupplements
                    && product.listSupplements.length > 0">
                  <div *ngFor="let list of product.listSupplements">
                    <div style="font-size: smaller; font-style: italic; color: grey">{{ list.title | titlecase }}</div>
                    <div *ngFor="let sup of list.supplementProducts">
                      <span style="font-size: smaller; color: #ccc;">{{ sup.name | titlecase }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: flex">
              <div style="align-self: center; font-size: medium;">{{ (+(product.amount) / 100).toFixed(2) }} €</div>
              <div (click)="onDeleteProduct(product)" style="cursor: pointer" >
                <i style=" position:relative; margin-left: 0;margin-top: 5px;color: #e61818;font-weight: 900;font-size: 1.5rem;padding-left: .5rem;" class="material-icons">
                close
              </i></div>
            </div>
          </div>
          <div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-4">
      <div style="width: 100%; border-radius: 4px; background: linear-gradient(74deg, #0d43a0, transparent); color: white;padding: 1.4rem;" class="checkout-stripe-form">
        <div style="width: 100%;display: flex; justify-content: space-between; padding: 0">
          <div>
            <h5 style="font-size: large">Stripe</h5>
          </div>
          <div style="">
            <img style="" src="../../../assets/cards_logo.png" width="150" height="auto" alt="logo stripe">
          </div>
        </div>
        <div class="form-row">
          <label style="font-family: 'Inconsolata', sans-serif; font-size: medium" for="card-element">
            Carte de paiement
          </label>
          <div id="card-element">
          </div>
          <div id="card-errors" role="alert"></div>
        </div>
      </div>
    </div>-->
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Adresse de livraison</h4>
      <div *ngIf="addressChose" style="line-height: 3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nom</mat-label>
          <input type="text"
                 matInput
                 [disabled]="true"
                 [value]="addressChose.name | titlecase"
                 style="color: #0a793b;font-weight: 500;"
          >
          <mat-icon style="color: #27b666" matSuffix>verified</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rue, Avenue...</mat-label>
          <input type="text"
                 matInput
                 [disabled]="true"
                 [value]="addressChose.street"
                 style="color: #0a793b;font-weight: 500;"
          >
          <mat-icon style="color: #27b666" matSuffix>verified</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Ville</mat-label>
          <input type="text"
                 matInput
                 [disabled]="true"
                 [value]="addressChose.city | titlecase"
                 style="color: #0a793b;font-weight: 500;"
          >
          <mat-icon style="color: #27b666" matSuffix>verified</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Code Postale</mat-label>
          <input type="text"
                 matInput
                 [disabled]="true"
                 [value]="addressChose.zipcode"
                 style="color: #0a793b;font-weight: 500;"
          >
          <mat-icon style="color: #27b666" matSuffix>verified</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Téléphone</mat-label>
          <input type="text"
                 matInput
                 [disabled]="true"
                 [value]="addressChose.phone"
                 style="
                 color: #0a793b;
                 font-size: x-large"
          >
          <mat-icon style="color: #27b666" matSuffix>verified</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onUpdateAddress()">Modifier l'adresse</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <label>Commentaire (facultatif)</label>
      <textarea
        [(ngModel)]="cartCurrent.comment"
        class="form-control">
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 pt-1 pb-2">
        <label>Code promotionnel (facultatif)</label>
        <input
                [formControl]="promotionalCode"
                [ngClass]="{
                  'is-invalid': errorPromotionalCode.message.trim().length > 0
                  && !promotionalCodeIsValid
                  && promotionalCode.value.trim().length > 7,
                  'is-valid': promotionalCodeIsValid,
                  'not-allowed': cartCurrent.restaurant.specialOffer
                  && cartCurrent.restaurant.specialOffer.title
                  && cartCurrent.restaurant.specialOffer.title.trim().length > 0
                  && +(cartCurrent.restaurant.specialOffer.minimumAmountForOffer)
                  <= +(cartCurrent.totalAmountProduct)
                  ,
                  'allowed' : !cartCurrent.restaurant.specialOffer
                  && !cartCurrent.restaurant.specialOffer.title
                 }"
                autocomplete="off"
                class="form-control" placeholder="">
        <mat-spinner *ngIf="promotionalCode.value
              && promotionalCode.value.trim().length > 0
              && !promotionalCodeIsValid
              && errorPromotionalCode.message.trim().length == 0" [diameter]="20" style="width: 20px;height: 20px;position: absolute;top: 41px;right: 21px;" color="primary" ></mat-spinner>

        <mat-hint style="color: red;padding-top: .5rem" *ngIf="!promotionalCodeIsValid" >{{ errorPromotionalCode.message }}</mat-hint>
        <mat-hint style="color: green;padding-top: .5rem" *ngIf="promotionalCodeIsValid">code valide</mat-hint>
        <mat-hint style="color: red;padding-top: .5rem" *ngIf="cartCurrent.restaurant.specialOffer
          && cartCurrent.restaurant.specialOffer.title
          && promotionalCode
          && promotionalCode.value
          && promotionalCode.value.trim().length > 0
        ">
          Code inutilisable. Offres non cumulables.
        </mat-hint>
          <button
                  style="float: right"
                  mat-raised-button
                  (click)="onCheckPromotionalCode()"
                  [disabled]="!promotionalCode.value"
                  color="accent"
                  class="mt-2 text-right"
          >Vérifier</button>
    </div>
  </div>
  <div *ngIf="promotionalCodeIsValid" class="row">
    <div class="col-md-6">
    </div>
    <div style="display: flex;padding: .8rem;background: greenyellow;" class="col-md-6">
      <div style="flex: 1">
        <span style="font-size: x-large; color: green">Réduction</span>
        <div>
          <span style="font-size: smaller; font-style: italic;color: black">(Hors frais de livraison et de service)</span>
        </div>
      </div>
      <div>
        <div *ngIf="cartCurrent.promotionalCode.percentage">
          <span style="font-size: x-large; color: green" >{{ cartCurrent.promotionalCode.percentage }}%
            </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div  class="row">
    <div class="col-md-6">
    </div>
    <div style="display: flex;padding: .8rem; padding-bottom: 0" class="col-md-6">
      <div style="flex: 1">
        <span style=""><strong>Sous-total</strong></span>
      </div>
      <div>
        <div *ngIf="promotionalCodeIsValid && cartCurrent.promotionalCode?.percentage">
          <span style="font-size: large; text-decoration: line-through; color: red;padding-right: .6rem" >{{ cartCurrent.promotionalCode.totalAmountProduct.toFixed(2) }}€
            </span>
          <span style="font-size: large;  color: green">{{ cartCurrent.promotionalCode.totalAmountProductWithPromotion.toFixed(2) }}€
            </span>
        </div>
        <div *ngIf="!promotionalCodeIsValid">
          <span style="font-size: large;  color: green; font-weight: bold" >{{ cartCurrent.totalAmountProduct.toFixed(2) }}€
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 0">
    <hr>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1;align-self: center;">Frais de service</div>
      <div style="align-self: center;" *ngIf="cartCurrent.stripeFee"> {{ cartCurrent.stripeFee.toFixed(2) }}€</div>
    </div>
  </div>
  <div *ngIf="cartCurrent.tipDelivererAmount" class="row">
    <div class="col-md-6">
    </div>
    <hr>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1">Pourboire</div>
      <div *ngIf="cartCurrent.tipDelivererAmount"> {{ cartCurrent.tipDelivererAmount.toFixed(2) }}€</div>
      <!--<div> 0.80€</div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div
      *ngIf="
      cartCurrent.restaurant.specialOffer
      && cartCurrent.restaurant.specialOffer.title
      && cartCurrent.total
      && cartCurrent.totalAmountProduct
      && +(cartCurrent.restaurant.specialOffer.minimumAmountForOffer)
      <= +(cartCurrent.totalAmountProduct)
      " style="display: flex;align-items: center;background: #eefed5;" class="col-md-6">
      <div style="flex: 1">
        <span style="font-size: x-large; color: green">OFFRE</span>
      </div>
      <div style="padding: .5rem">
        <div *ngIf="cartCurrent.restaurant.specialOffer.specialOfferAmount">
          <span style="font-size: x-large; color: green"> - {{ cartCurrent.restaurant.specialOffer.specialOfferAmount }}€</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div style="display: flex;align-items: center" class="col-md-6">
      <div style="flex: 1">
        Distance
        <p style="font-size: x-small; margin-bottom: 0"><em>(depuis votre position jusqu'au commerce)</em></p>
      </div>
      <div>
        <div style="align-self: center" *ngIf="!responseDistanceGoogle">
          <div style="font-size: small">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </div>
        <div style="align-self: center; font-size: medium" *ngIf="responseDistanceGoogle && responseDistanceGoogle.distance">
          {{ distanceText }}
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 0; margin-top: 1.2rem">
    <div class="col-md-6">
    </div>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1; font-weight: bold">
        Frais de livraison
        <p style="font-size: x-small; font-weight: lighter; margin-bottom: 0"><em>(entièrement reversé au livreur)</em></p>
      </div>
      <div>
        <div *ngIf="showLoaderCost == true">
          <div style="font-size: small">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </div>
        <div style="font-weight: bold; font-size: large" *ngIf="cartCurrent.deliveryCost && !showLoaderCost">
          {{ cartCurrent.deliveryCost.toFixed(2) }} €
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0; padding-top: 0">
  <div class="row" style="align-items: center">
    <hr>
    <div style="display: flex" class="col-md-6">
      <div style="flex: 1; font-weight: bold; font-size: x-large">TOTAL</div>
      <div>
        <span style="text-decoration: line-through; color: red; padding-right: .5rem" *ngIf="
        cartCurrent.amountWithoutSpecialOffer
        && cartCurrent.amountWithoutSpecialOffer > 0
        &&
        cartCurrent.restaurant.specialOffer
        && +(cartCurrent.restaurant.specialOffer.minimumAmountForOffer)
        <= +(cartCurrent.totalAmountProduct)
        && cartCurrent.deliveryCost
      ">
          {{ (cartCurrent.amountWithoutSpecialOffer.toFixed(2)).replace('.', ',') }} €
        </span>
        <span style="font-weight: bold; font-size: x-large">{{ (cartCurrent.total.toFixed(2)).replace('.', ',') }} €
      </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-slide-toggle [(ngModel)]="hasAboveEighteen">J'atteste avoir plus de 18 ans (obligatoire)</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="infoOk">J'atteste de l'exactitude des informations saisies (téléphone, adresse de livraison, email)(obligatoire)</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="agreeWithLegacy">J'ai lu et J'accepte <a (click)="onShowTerms()" style="text-decoration: underline; color: dodgerblue">les conditions générales de vente</a></mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: center" class="col-md-12">
    </div>
    <div style="display: flex;margin-top: -.5rem;" class="col-md-12">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
    </div>
      <div style="display: flex;text-align: right;justify-content: flex-end;margin-top: 2rem;" class="col-md-6">
        <hr>
        <button mat-raised-button color="primary"
              [disabled]="paymentValidation == true
              || infoOk == false
              || agreeWithLegacy == false
              || hasAboveEighteen == false" (click)="onProceedCheckout($event)" style="align-self: flex-end">VALIDER</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</section>
<section class="footer mt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h5 class="font-large">Être en avance sur tout le monde ?</h5>
        </div>
        <div>
          <!--<p>
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>C'est là ! Newsletter</mat-label>
              <input matInput type="text" name="username" placeholder="Placeholder">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </p>-->
        </div>
      </div>
      <div class="border-left col-md-6">
        <div>
          <h5  class="font-large">FAST-IT</h5>
        </div>
        <div>
          28 Allée Ampère, 74300 Cluses
        </div>
        <div>
          contact@fast-it.fr
        </div>
        <div>
          <a style="color: white " routerLink="/legacy">Conditions Générales</a>
        </div>
      </div>
    </div>
    <div style="padding: .5rem" class="row mt-3">
      <div class="col-md-12 text-center">
        Tous droits réservés
      </div>
    </div>
  </div>
</section>
