
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1248px) {
  .wrapper-restaurants {
    margin: 0 auto;
    /*width: 1248px;*/
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
  padding-bottom: .4375em !important;
}

$background-color-primary: #c823f1;
/*$background-color-primary: #f1d723;
$btn-color-primary: #dcc738;*/
$btn-color-primary: #d840ff;

.bg-light {
  background-color: $background-color-primary !important;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: $btn-color-primary;
}

div.input-group .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

ul {
  list-style: none;
}

.wrapper-form {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  box-shadow: 3px 6px 20px orangered;
}


.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 1.2375em 0 !important;
}


.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -9px;
}

.mat-typography h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}


.pac-container {
  z-index: 99999 !important;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.is-closed {
  cursor: not-allowed;
  position: absolute;
  background: #0a0a0ab8;
  z-index: 99999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.center-position-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

