<div style="padding: 12px 16px;">
  <div>
    <div style="display: flex; justify-content: space-between">
      <div>
        <div (click)="onChangeLocation()" style="font-weight: 300;
          font-size: smaller;
          line-height: normal;">
          Livrer maintenant
        </div>
        <div (click)="onChangeLocation()" style=" display:flex;justify-content: flex-start">
          <div style="padding-right: 5px" *ngIf="cityDataCurrent && cityDataCurrent.city">{{cityDataCurrent.city | titlecase }}</div>
          <div style="padding-right: 5px" *ngIf="!cityDataCurrent" >Ville</div>
          <div class="">
            <span style="font-size: larger; vertical-align: middle" class="material-icons">expand_more</span>
          </div>
        </div>
      </div>
      <div>
        <button class="cursor-pointer" (click)="onChangeLocation()" style="width: 35px;height: 35px;" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon style="color: white !important; font-size: medium">search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<section class="d-none d-md-block d-lg-block section-header">
  <div class="container-fluid">
    <div class="row">
      <div style="align-self: center"  class="col-md-6">
        <div style="color:white;line-height: 1.4;font-size: 45px; font-family: 'Roboto', sans-serif">+ de 45 Restaurants</div>
        <div style="color:white; font-size: 45px; font-family: 'Roboto', sans-serif"> pour vous combler.</div>
        <div style="color: white;font-size: 16px;font-family: 'Roboto', sans-serif;line-height: 4.5;">Tout type de restaurant, il y a le choix!</div>
      </div>
      <div class="col-md-6">
        <img height="230px" width="460px" src="https://mediafastitprod.s3.eu-west-3.amazonaws.com/PHOTO-2021-03-16-10-38-38.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<div class="d-block d-md-none d-lg-none d-xl-none" [style.height]="slideHeight">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="25"
    slides="2"
    [maintainAspectRatio]="maintainAspectRatio"
    [slideHeight]="slideHeight"
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"
      overlayColor="#00000040"
      [hideOverlay]="true"
    ></mat-carousel-slide>
  </mat-carousel>
</div><!--
<section class="home-section">
  <header style="width: 100%; height: 100%; background: rgba(0,0,0, 0.5)" class="container-fluid home">
    <h1 style="color: white; font-size: xx-large;font-family: 'Raleway', sans-serif;" class="text-center mb-2">Vos restaurants préférés livrés</h1>
    <div class="wrapper mt-2">
      <div class="content" style="padding: 0.2rem">
        <div class="input-group">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>1 rue de la place</mat-label>
              <input matInput
                     autocomplete="off"
                     type="text"
                     id="locate-me"
                     ngx-google-places-autocomplete
                     [options]='options'
                     #placesRef="ngx-places"
                     (onAddressChange)="handleAddressChange($event)"
              >
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </div>
      </div>
    </div>
    <div style="text-align: center; width: 100%" class="">
      <button (click)="goto()"  mat-raised-button color="primary">Rechercher</button>
    </div>
  </header>
</section>-->
<section class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</section>
<div class="d-none d-md-block d-lg-block" style="padding-left: 20px; padding-top: 1rem" *ngIf="restaurantsLeft && restaurantsLeft.length > 0">
  <div class="d-flex" style="justify-content: space-between; padding-right: 24px">
    <div>
      <h2 style="font-size: xx-large;margin-bottom: -8px;">Les Promotions</h2>
    </div>
    <div *ngIf="restaurantsRight.length > 0">
      <button [disabled]="showingLeftPart" (click)="onScroll('left')" color="primary" style="width: 40px; height: 40px" mat-fab>
        <span class="material-icons">arrow_back</span>
      </button>
      <button [disabled]="!showingLeftPart || restaurantsRight.length == 0" color="primary" (click)="onScroll()" style="width: 40px; height: 40px" mat-fab>
        <span class="material-icons">arrow_forward</span>
      </button>
    </div>
  </div>
  <div class="carousel-custom"
       id="carousel-custom"
    style="scroll-snap-type: x mandatory;padding: 16px 0;display: flex;overflow-y: hidden;align-items: flex-start; overflow-x: scroll">
    <div class="g8"></div>
    <ul class="ul-carousel" id="ul-carousel-left"  style="">
      <li *ngFor="let restaurant of restaurantsLeft" style="
      margin: 0 6px;
      width: calc(33.333% - 18px);
      margin-right: 24px;
      ">
        <div
          (click)="goToRestaurantBy(restaurant.id)"
          class=" mb-2 cursor-pointer" style="">
          <div style=" position: relative" class="wrapper-img-left box-shadow-orange">
            <div style="position:absolute; z-index: 2000; top: 8px">
            </div>
            <div>
              <figure style="height: 180px; margin: 0; overflow: hidden; position: relative">
                <div style="position: absolute;top: 8px;color: white;left: 0;font-size: smaller;padding: 2px;background: #c968e1;z-index: 50;border-radius: 0 16px 16px 0;">
                  {{ restaurant.title | titlecase }}
                  <span class="pl-1"></span>
                </div>
                <div style="top: 0; left: 0; height: 100%; width: 100%; position: absolute">
                  <div style="height: 180px">
                    <picture>
                      <img src="{{ restaurant.pathFile }}" alt="{{ restaurant.name }}" style="object-fit: cover; border: none; height: 100%; width: 100%">
                    </picture>
                  </div>
                </div>
              </figure>
            </div>
            <div
              class="img-wrapper"
            >
              <div *ngIf="restaurant.closed == true" class="opaque text-center">
                <h3 style="color: white;margin-top: 3.2rem;font-size: large;font-weight: 200;font-family: 'Oswald';">Momentanément indisponible en livraison</h3>
              </div>
            </div>
            <div style=" bottom: 0; width: 100%;overflow: hidden;" class="desc-bottom reduce-padding">
              <h4 style="margin-bottom: 0 !important;font-size: 1.02rem;text-transform: capitalize;font-weight: 500;font-style: initial;line-height: .8;font-family: 'Roboto', sans-serif;">
                {{ restaurant.name | titlecase }}
                <span style="float: right;font-size: .75rem;font-weight: 100;font-family: 'Roboto', sans-serif;">{{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}</span>
              </h4>
              <div style="display: flex; width: 100%; justify-content: space-between">
                <div>
                  <span style="font-size: smaller; font-weight: 200; font-style: italic">{{ restaurant.city | titlecase }}</span>
                </div>
                <div *ngIf="restaurant.description && restaurant.description != null">
                  <span style="font-weight: 200; font-size: smaller">{{ restaurant.description | titlecase }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="ul-carousel" id="ul-carousel-right" style="">
      <li *ngFor="let restaurant of restaurantsRight"  style="margin: 0 6px;
      width: calc(33.333% - 18px);
      margin-right: 24px; ">
        <div
          (click)="goToRestaurantBy(restaurant.id)"
          class=" mb-2 cursor-pointer" style="">
          <div style=" position: relative" class="wrapper-img-left box-shadow-orange">
            <div style="position:absolute; z-index: 2000; top: 8px">
            </div>
            <div>
              <figure style="height: 180px; margin: 0; overflow: hidden; position: relative">
                <div style="position: absolute;top: 8px;color: white;left: 0;font-size: smaller;padding: 2px;background: #c968e1;z-index: 50;border-radius: 0 16px 16px 0;">
                  {{ restaurant.title | titlecase }}
                  <span class="pl-1"></span>
                </div>
                <div style="top: 0; left: 0; height: 100%; width: 100%; position: absolute">
                  <div style="height: 180px">
                    <picture>
                      <img src="{{ restaurant.pathFile }}" alt="{{ restaurant.name }}" style="object-fit: cover; border: none; height: 100%; width: 100%">
                    </picture>
                  </div>
                </div>
              </figure>
            </div>
            <div
              class="img-wrapper"
            >
              <div *ngIf="restaurant.closed == true" class="opaque text-center">
                <h3 style="color: white;margin-top: 3.2rem;font-size: large;font-weight: 200;font-family: 'Oswald';">Momentanément indisponible en livraison</h3>
              </div>
            </div>
            <div style=" bottom: 0; width: 100%;overflow: hidden;" class="desc-bottom reduce-padding">
              <h4 style="margin-bottom: 0 !important;font-size: 1.02rem;text-transform: capitalize;font-weight: 500;font-style: initial;line-height: .8;font-family: 'Roboto', sans-serif;">
                {{ restaurant.name | titlecase }}
                <span style="float: right;font-size: .75rem;font-weight: 100;font-family: 'Roboto', sans-serif;">{{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}</span>
              </h4>
              <div style="display: flex; width: 100%; justify-content: space-between">
                <div>
                  <span style="font-size: smaller; font-weight: 200; font-style: italic">{{ restaurant.city | titlecase }}</span>
                </div>
                <div *ngIf="restaurant.description && restaurant.description != null">
                  <span style="font-weight: 200; font-size: smaller">{{ restaurant.description | titlecase }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div>

      <!--<div
        (click)="goToRestaurantBy(restaurant.id)"
        class=" mb-2 cursor-pointer" style="">
        <div style=" position: relative" class="wrapper-img-left box-shadow-orange">
          <div style="position:absolute; z-index: 2000; top: 8px">
          </div>
          <div>
            <figure style="height: 128px; margin: 0; overflow: hidden; position: relative">
              <div style="position: absolute;top: 8px;color: white;left: 0;font-size: smaller;padding: 2px;background: #c968e1;z-index: 50;border-radius: 0 16px 16px 0;">
                {{ restaurant.title | titlecase }}
                <span class="pl-1"></span>
              </div>
              <div style="top: 0; left: 0; height: 100%; width: 100%; position: absolute">
                <div style="height: 128px">
                  <picture>
                    <img src="{{ restaurant.pathFile }}" alt="{{ restaurant.name }}" style="object-fit: cover; border: none; height: 100%; width: 100%">
                  </picture>
                </div>
              </div>
            </figure>
          </div>
          <div
            class="img-wrapper"
          >
            <div *ngIf="restaurant.closed == true" class="opaque text-center">
              <h3 style="color: white;margin-top: 3.2rem;font-size: large;font-weight: 200;font-family: 'Oswald';">Momentanément indisponible en livraison</h3>
            </div>
          </div>
          <div style=" bottom: 0; width: 100%;overflow: hidden;" class="desc-bottom reduce-padding">
            <h4 style="margin-bottom: 0 !important;font-size: 1.02rem;text-transform: capitalize;font-weight: 500;font-style: initial;line-height: .8;font-family: 'Roboto', sans-serif;">
              {{ restaurant.name | titlecase }}
              <span style="float: right;font-size: .75rem;font-weight: 100;font-family: 'Roboto', sans-serif;">{{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}</span>
            </h4>
            <div style="display: flex; width: 100%; justify-content: space-between">
              <div>
                <span style="font-size: smaller; font-weight: 200; font-style: italic">{{ restaurant.city | titlecase }}</span>
              </div>
              <div *ngIf="restaurant.description && restaurant.description != null">
                <span style="font-weight: 200; font-size: smaller">{{ restaurant.description | titlecase }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="g8"></div>
  </div>
</div>

<div class="d-block d-md-none d-lg-none" *ngIf="restaurantsLeft && restaurantsLeft.length > 0">
  <h2 style="padding-left:12px;font-size: x-large;margin-bottom: -8px;">Les Promotions du moment</h2>
  <div style="padding: 16px 0;display: flex;overflow-y: hidden;align-items: flex-start; overflow-x: auto">
    <div class="g8"></div>
    <div *ngFor="let restaurant of restaurantsLeft" style="margin: 0 6px; ">
      <div
        (click)="goToRestaurantBy(restaurant.id)"
        class=" mb-2 cursor-pointer" style="width: 302px">
        <div style=" position: relative" class="wrapper-img-left box-shadow-orange">
          <div style="position:absolute; z-index: 2000; top: 8px">
          </div>
          <div>
            <figure style="height: 128px; margin: 0; overflow: hidden; position: relative">
              <div style="position: absolute;top: 8px;color: white;left: 0;font-size: smaller;padding: 2px;background: #c968e1;z-index: 50;border-radius: 0 16px 16px 0;">
                {{ restaurant.title | titlecase }}
                <span class="pl-1"></span>
              </div>
              <div style="top: 0; left: 0; height: 100%; width: 100%; position: absolute">
                <div style="height: 128px">
                  <picture>
                    <img src="{{ restaurant.pathFile }}" alt="{{ restaurant.name }}" style="object-fit: cover; border: none; height: 100%; width: 100%">
                  </picture>
                </div>
              </div>
            </figure>
          </div>
          <div
            class="img-wrapper"
          >
            <div *ngIf="restaurant.closed == true" class="opaque text-center">
              <h3 style="color: white;margin-top: 3.2rem;font-size: large;font-weight: 200;font-family: 'Oswald';">Momentanément indisponible en livraison</h3>
            </div>
          </div>
          <div style=" bottom: 0; width: 100%;overflow: hidden;" class="desc-bottom reduce-padding">
            <h4 style="margin-bottom: 0 !important;font-size: 1.02rem;text-transform: capitalize;font-weight: 500;font-style: initial;line-height: .8;font-family: 'Roboto', sans-serif;">
              {{ restaurant.name | titlecase }}
              <span style="float: right;font-size: .75rem;font-weight: 100;font-family: 'Roboto', sans-serif;">{{ restaurant.estimatedPreparationTime.replace(',', ' - ') + 'min' }}</span>
            </h4>
            <div style="display: flex; width: 100%; justify-content: space-between">
              <div>
                <span style="font-size: smaller; font-weight: 200; font-style: italic">{{ restaurant.city | titlecase }}</span>
              </div>
              <div *ngIf="restaurant.description && restaurant.description != null">
                <span style="font-weight: 200; font-size: smaller">{{ restaurant.description | titlecase }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="g8"></div>
  </div>
</div>
<app-home-features ></app-home-features>
<app-footer></app-footer>



