.home {
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  /*background: #ea7b1c75;
  background: #ddea1c75;*/
  background: #d564f1d1;
  width: 40%;
  border-radius: 5px;
  margin-bottom: .3rem;

}
.content {
  padding: 1rem;
}

.label-small {
  font-size: small;
  color: #a2a2a2;
  margin-bottom: 0 !important;
}

.home-section {
  height: 420px;
  background: url(/assets/bg_top.jpg) no-repeat top left;
  background-size: cover;
  background-position-y: -120px;
}

.content {
  padding: 0.5rem;
  margin: 0.2rem;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 250px) and (max-width: 968px) {
  .wrapper {
    width: 90%;
  }
  .home-section {
    background-position-y: 0;
  }
}

.wrapper-img-left {
  position:relative;
  > img {
    position: absolute;
    width: 100%;
    height: 300px;
    top: -2rem;
  }
}

.zoom {
  transition: transform .2s;
  &:hover {
    transform: scale(1.2);
  }
}

.desc-bottom {
  padding: 1.2rem;
  /*border-top: 2px solid #ff6908;*/
  background: #fff !important;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}
p {
  color: #0b2e13;
}

.box-shadow-orange {
  width: 100%;
  overflow: hidden;
}
.g8 {
  flex: 0 0 10px;
}

.desc-bottom h4 {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: .4rem;
  font-family: 'Raleway', sans-serif;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
}
.opaque {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}

.img-baker {
  width: 390px;
  height: auto;
}
.separator {

  margin-top: .1rem;
  width: 43px;
  background: #da2be2;
  margin-bottom: 1rem;
  height: 4px;


  &:after {
    content: '';
    height: 3px;
    width: 40px;
    background: #ccc;
  }
}
.h2-baker {
  font-size: 2.2rem;
}
.reduce-padding {
  padding: .4rem !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #b22aef !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #c61ac0 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #ad2bec !important;;
}

.ul-carousel {
  scroll-snap-align: start;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-custom::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
.carousel-custom, #category-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mat-fab .mat-button-wrapper {
   padding: 0 0 !important;
  display: inline-block;
}

.category-solo {
  width: 170px; height: 170px;
}
.padding-category {
  cursor: pointer;
  padding-top: .5rem;
  padding-left: 32px; padding-right: 32px;
  transition: all 1s ease;
  background: inherit;
  &:hover {
    color: white;
    background: #db18ff;
  }
}

.section-header {
  width: 100%;
  padding: 14px 40px;
  /* background: #7e3a9c;
   background: #a56829;
   background: #d840ff;*/
  background: #bb22e2;
}

.img-header-top {
  height: 230px;
  width: 460px;
}

#category-wrapper::-webkit-scrollbar  {
  display: none;
}
@media (max-width: 768px) {
  .wrap-burger {
    height: 350px;
    margin-bottom: 1rem;
  }
  .category-solo {
    width: 100px; height: 100px;
    margin: 0 auto;
  }
  .padding-category {
    padding-left: 16px;
    padding-right: 16px;
  }
  .width-input {
    width: 100%;
  }
  .img-baker {
    width: 100%;
  }

  .h2-baker {
    font-size: 1.5rem;
  }
  .mini-card-restaurant {
    height: 95px;
  }
}


@media (min-width: 767px) and (max-width: 991px) {
  .img-header-top {
    height: auto;
    width: 100%;
  }
}



