#paymentFailed {
  display: none;
}

#paymentSuccessful {
  display: none;
  background: #0f980f;font-size: x-large;margin-top: .5rem;text-align: center;
}

.kr-payment-button {
  text-align: center !important;
}

#payment-process {
  display: none;
}


