<mat-sidenav-container>
  <mat-sidenav #sidebarLeft [mode]="sideMode" opened role="navigation">
    <mat-nav-list>
      <div class="sidebar-left">
        <div style="display: flex; justify-content: center; margin-bottom: 1.5rem" class="">
          <div>
            <img style="border: 2px solid #c823f1" class="rounded-circle" src="assets/user.png" width="65px" alt="">
          </div>
        </div>
        <div style="border: 1px solid violet" class="text-center"
             *ngIf="user && user.data && user.data.subscription.subType">
          <div class="p-2">
            <span style="display: block;color: #63ae1b;" class="material-icons">
                verified
            </span>
            <span>Vous êtes abonné.e</span>
            <span class="d-block" style="font-size: 1.2rem;color: #d840ff;font-weight: 600;">{{ user.data.subscription.title | uppercase }}</span>
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-direction: column;justify-content: center" class="nav">
          <div class="wrapper-link-sidebar">
            <a routerLink="/customer/overview" (click)="sidenav.close()">
              <div>
                Vue globale
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a routerLink="/customer/order" (click)="sidenav.close()">
              <div>
                Mes commandes
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a routerLink="/customer/profil" (click)="sidenav.close()">
              <div>
                Mon profil
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a routerLink="/customer/notification" (click)="sidenav.close()">
              <div>
                Notifications
              </div>
            </a>
          </div>
          <!--<div class="wrapper-link-sidebar">
            <a routerLink="/customer/comment">
              <div>
                Commentaires
              </div>
            </a>
          </div>

          <div class="wrapper-link-sidebar">
            <a routerLink="/infos/contact">
              <div>
                Contact
              </div>
            </a>
          </div>
          <div class="wrapper-link-sidebar">
            <a routerLink="/infos/export">
              <div>
                Export
              </div>
            </a>
          </div>-->
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="main-content-customer">
      <section class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 *ngIf="customer" class="">{{ customer.firstname | titlecase }}</h3>
            <h3 *ngIf="customer" class="">
              {{ customer.email }}
              <button *ngIf="notifications" class="text-right float-right" (click)="onReadNotifications()" [disabled]="notifications.length == 0" mat-button [matMenuTriggerFor]="menu">
              <span style="cursor: pointer"
                    matBadge="{{ notifications.length > 0 ? notifications.length : '' }}"
                    matBadgeOverlap="false"
                    matBadgeColor="warn"
                    class="float-right material-icons"
              >
              notifications</span>
              </button>
              <span (click)="onGoToProfil()" class="float-right mr-3 material-icons">person</span>
            </h3>
          </div>
        </div>
        <mat-menu #menu="matMenu">
          <button *ngFor="let notif of notifications"  mat-menu-item>
            {{ notif.message }}</button>
        </mat-menu>
        <div class="row">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
          </div>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


