<section class="card">
  <div class="card-body">
    <h2>Livraisons du {{ deliveriesDay }}</h2>
    <hr>
    <div class="row sticky-top">
      <div class="col-md-3 text-center border-right">
        <h4 style="font-weight: 200; font-size: larger">
          Attente Validation Commerce
          <span *ngIf="deliveriesAttemptingByRestaurant && deliveriesAttemptingByRestaurant.length > 0">
            <b style="font-size: large">({{ deliveriesAttemptingByRestaurant.length }})</b>
          </span>
        </h4>
      </div>
      <div class="col-md-3 text-center border-right">
        <h4 style="font-weight: 200; font-size: larger">
          Attente Récup. Livreur
          <span *ngIf="deliveriesAttemptingByDeliverers && deliveriesAttemptingByDeliverers.length > 0">
            <b style="font-size: large">({{ deliveriesAttemptingByDeliverers.length }})</b>
          </span>
        </h4>
      </div>
      <div class="col-md-3 text-center border-right">
        <h4 style="font-weight: 200; font-size: larger">Récupérée par
          <span *ngIf="deliveriesTakenByDeliverer && deliveriesTakenByDeliverer.length > 0">
            <b style="font-size: large">({{ deliveriesTakenByDeliverer.length }})</b>
          </span>
        </h4>
      </div>
      <div class="col-md-3 text-center">
        <h4 style="font-weight: 200; font-size: larger">
          Livrée
          <span *ngIf="deliveriesEnded && deliveriesEnded.length > 0">
            <b style="font-size: large">({{ deliveriesEnded.length }})</b>
          </span>
        </h4>
      </div>
    </div>
    <div class="row">
      <div style="background: #efefef;padding-top: .5rem;" class="col-md-3">
        <div>
          <div *ngFor="let orderDelivery of deliveriesAttemptingByRestaurant" [ngStyle]="{
          transition: 'all 2s',
          'background-color':second >= 50 ? 'red' : 'white',
          color: second >= 50 ? 'white' : 'inherit'
          }"
            style="margin-bottom: .5rem; padding: .5rem;display: flex;width: 100%;justify-content: space-between; flex-direction: row !important;" class="card">
            <div style="display: flex; flex-direction: column; justify-content: space-between">
              <div>
                <h5 style="font-size: larger">
                  <b class="d-block"><em>#{{ orderDelivery.order_id }} </em></b>
                  <b style="text-transform: uppercase;">{{ orderDelivery.restaurant_name | titlecase }}</b>
                </h5>
              </div>
              <div>
                Payé à <b><em>{{ orderDelivery.payedAt.date | date: "HH:mm:ss" }}</em></b>
              </div>
              <div style="align-self: flex-end;width: 100%;text-align: left;">
                <span>Temps: {{ second }}s</span>
              </div>
            </div>
            <div>
              <h4>Client</h4>
              <span style="text-transform: uppercase" class="d-block">
                <b>
                  <em>
                    {{ orderDelivery.customerName }}
                  </em>
                </b>
              </span>
              <span>
                <a href="tel:{{ orderDelivery.customer_phone }}">
                  {{ orderDelivery.customer_phone }}
                </a>
              </span>
              <span class="d-block">
                <a href="mailto:{{ orderDelivery.customer_email }}">
                  {{ orderDelivery.customer_email }}
                </a>
              </span>
              <span>{{ orderDelivery.customerCity | titlecase }}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="background: #fff;padding-top: .5rem;" class="col-md-3">
        <div>
          <div *ngFor="let orderDelivery of deliveriesAttemptingByDeliverers" [ngStyle]="{
          transition: 'all 2s',
          'background-color':second >= 50 ? 'red' : 'white',
          color: second >= 50 ? 'white' : 'inherit'
          }"
               style="margin-bottom: .5rem; padding: .5rem;display: flex;width: 100%;justify-content: space-between; flex-direction: row !important;" class="card">
            <div style="display: flex; flex-direction: column; justify-content: space-between">
              <div>
                <h5 style="font-size: larger">
                  <b class="d-block"><em>#{{ orderDelivery.order_id }} </em></b>
                  <b style="text-transform: uppercase;">{{ orderDelivery.restaurant_name | titlecase }}</b>
                </h5>
              </div>
              <div>
                Payé à <b><em>{{ orderDelivery.payedAt.date | date: "HH:mm:ss" }}</em></b>
              </div>
              <div style="align-self: flex-end;width: 100%;text-align: left;">
                <span>Temps: {{ second }}s</span>
              </div>
            </div>
            <div>
              <h4>Client</h4>
              <span style="text-transform: uppercase" class="d-block">
                <b>
                  <em>
                    {{ orderDelivery.customerName }}
                  </em>
                </b>
              </span>
              <span>
                <a href="tel:{{ orderDelivery.customer_phone }}">
                  {{ orderDelivery.customer_phone }}
                </a>
              </span>
              <span class="d-block">
                <a href="mailto:{{ orderDelivery.customer_email }}">
                  {{ orderDelivery.customer_email }}
                </a>
              </span>
              <span>{{ orderDelivery.customerCity | titlecase }}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="background: #efefef;padding-top: .5rem;" class="col-md-3">
        <div>
          <div *ngFor="let orderDelivery of deliveriesTakenByDeliverer" [ngStyle]="{
          transition: 'all 2s',
          'background-color':second >= 50 ? 'red' : 'white',
          color: second >= 50 ? 'white' : 'inherit'
          }"
               style="margin-bottom: .5rem; padding: .5rem;display: flex;width: 100%;justify-content: space-between; flex-direction: row !important;" class="card">
            <div style="display: flex; flex-direction: column; justify-content: space-between">
              <div>
                <h5 style="font-size: larger">
                  <b class="d-block"><em>#{{ orderDelivery.order_id }} </em></b>
                  <b style="text-transform: uppercase;">{{ orderDelivery.restaurant_name | titlecase }}</b>
                </h5>
              </div>
              <div style="font-size: small">
                Payé à <b><em>{{ orderDelivery.payedAt.date | date: "HH:mm:ss" }}</em></b>
              </div>
              <div style="align-self: flex-end;width: 100%;text-align: left;">
                <span style="font-size: small">Temps: {{ second }}s</span>
              </div>
              <div style="padding: .3rem; color: white !important; background: #5b5b5b;border-radius: 3px;">
                <h4 style="margin-bottom: 0 !important;">Livreur</h4>
                <span style="text-transform: lowercase" class="d-block">
                <b style="font-size: x-small">
                  <em>
                    {{ orderDelivery.deliverer_email }}
                  </em>
                </b>
              </span>
                <span>
                <a href="tel:{{ orderDelivery.deliverer_phone }}">
                  {{ orderDelivery.deliverer_phone }}
                </a>
              </span>
              </div>
            </div>
            <div>
              <h4>Client</h4>
              <span style="text-transform: uppercase" class="d-block">
                <b>
                  <em>
                    {{ orderDelivery.customerName }}
                  </em>
                </b>
              </span>
              <span>
                <a href="tel:{{ orderDelivery.customer_phone }}">
                  {{ orderDelivery.customer_phone }}
                </a>
              </span>
              <span class="d-block">
                <a style="font-size: x-small" href="mailto:{{ orderDelivery.customer_email }}">
                  {{ orderDelivery.customer_email }}
                </a>
              </span>
              <span>{{ orderDelivery.customerCity | titlecase }}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="background: #fff;padding-top: .5rem;" class="col-md-3">
        <div>
          <div *ngFor="let orderDelivery of deliveriesEnded" [ngStyle]="{
          transition: 'all 2s',
          'background-color':second >= 50 ? 'red' : 'white',
          color: second >= 50 ? 'white' : 'inherit'
          }"
               style="margin-bottom: .5rem; padding: .5rem;display: flex;width: 100%;justify-content: space-between; flex-direction: row !important;" class="card">
            <div style="display: flex; flex-direction: column; justify-content: space-between">
              <div>
                <h5 style="font-size: larger">
                  <b class="d-block"><em>#{{ orderDelivery.order_id }} </em></b>
                  <b style="text-transform: uppercase;">{{ orderDelivery.restaurant_name | titlecase }}</b>
                </h5>
              </div>
              <div style="font-size: small">
                Payé à <b><em>{{ orderDelivery.payedAt.date | date: "HH:mm:ss" }}</em></b>
              </div>
              <div style="align-self: flex-end;width: 100%;text-align: left;">
                <span style="font-size: small">Temps: {{ second }}s</span>
              </div>
              <div style="padding: .3rem; color: white !important; background: #5b5b5b;border-radius: 3px;">
                <h4 style="margin-bottom: 0 !important;">Livreur</h4>
                <span style="text-transform: lowercase" class="d-block">
                <b style="font-size: x-small">
                  <em>
                    {{ orderDelivery.deliverer_email }}
                  </em>
                </b>
              </span>
                <span>
                <a href="tel:{{ orderDelivery.deliverer_phone }}">
                  {{ orderDelivery.deliverer_phone }}
                </a>
              </span>
              </div>
            </div>
            <div style="position: relative">
              <h4>Client</h4>
              <span style="text-transform: uppercase" class="d-block">
                <b>
                  <em>
                    {{ orderDelivery.customerName }}
                  </em>
                </b>
              </span>
              <span>
                <a href="tel:{{ orderDelivery.customer_phone }}">
                  {{ orderDelivery.customer_phone }}
                </a>
              </span>
              <span class="d-block">
                <a style="font-size: x-small" href="mailto:{{ orderDelivery.customer_email }}">
                  {{ orderDelivery.customer_email }}
                </a>
              </span>
              <span>{{ orderDelivery.customerCity | titlecase }}</span>
              <div style="font-size: small;position: absolute;bottom: 3px;">
                Livrée à <b><em>{{ orderDelivery.date_delivered.date | date: "HH:mm:ss" }}</em></b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
